<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc">
</head>

<body class="res layout-1 layout-subpage">

	<div id="wrapper" class="wrapper-fluid banners-effect-5">
		<header id="header" class=" typeheader-1" th:replace="fragments/front/common :: headerMenu"></header>

		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">ACCOUNT</a></li>
				<li><a href="#">딜러회원가입</a></li>
			</ul>

			<div class="row">
				<div id="content" class="col-sm-12">
					<h2 class="title">딜러회원 가입</h2>
					<p># 일반 구매자 회원은 <a href="/signupForm">-> 일반회원가입</a>을 진행 해 주시기 바랍니다.</p>
					<p># 딜러회원 가입의 경우 회원신청 완료 후 관리자의 승인 전까지는 일반회원으로의 활동만 가능합니다.</p>
					<p># 관리자 승인 시 입력한 이메일과 문자를 통해 안내되니 정확한 정보를 입력 해 주시기 바랍니다.</p>
					<p># 만약 기존에 회원가입을 진행하신 분 이라면 <a href="/loginForm">-> 로그인</a>을 진행 해 주세요.</p>
					<p># 아이디 또는 비밀번호가 기억나지 않는 경우 <a href="/findUsername">-> 아이디찾기</a> 또는 <a href="/findPassword">-> 비밀번호찾기</a>를 진행 해 주세요.</p>
					<form 
						action="/registration" 
						onsubmit="return signUpCheck()"
						method="post" 
						enctype="multipart/form-data"
						class="form-horizontal clearfix">
							<legend>로그인 정보</legend>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="username">아이디</label>
								<div class="col-sm-10">
									<input 
									type="text"
									name="username"
									id="username" 
									required
									placeholder="사용하실 아이디를 입력 해 주세요." 
									class="form-control">
									<div class="signup-error-message">
										<p id="username-error-message"></p>
									</div>
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="password">비밀번호</label>
								<div class="col-sm-10">
									<input 
									type="password" 
									name="password"
									id="password" 
									required
									placeholder="사용하실 비밀번호를 입력 해 주세요."
									class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="passwordCheck">비밀번호 확인</label>
								<div class="col-sm-10">
									<input 
									type="password" 
									required
									placeholder="비밀번호를 다시한번 입력 해 주세요."
									id="passwordCheck" 
									class="form-control">
									<div class="signup-error-message">
										<p id="passswordcheck-error-message"></p>
									</div>
								</div>
								
							</div>
						
							<legend>개인정보 입력</legend>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="name">성함</label>
								<div class="col-sm-10">
									<input 
									type="text" 
									name="name" 
									required
									placeholder="성함을 입력 해 주세요."
									id="name" 
									class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="business">사업자명</label>
								<div class="col-sm-10">
									<input 
									type="text" 
									name="business" 
									placeholder="사업자 혹은 법인명을 입력 해 주세요. [법인 또는 사업자회원]"
									id="business" 
									class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="businessCode">사업자등록번호</label>
								<div class="col-sm-10">
									<input 
									type="number" 
									name="businessCode" 
									placeholder="사업자등록번호를 입력 해 주세요. [법인 또는 사업자회원]"
									id="businessCode" 
									class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="email">이메일</label>
								<div class="col-sm-10">
									<input 
									type="email" 
									name="email"
									id="email"
									required
									placeholder="이메일을 정확하게 입력 해 주세요."
									class="form-control">
									<div class="signup-error-message">
										<p id="email-error-message"></p>
									</div>
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="phone">휴대폰 번호</label>
								<div class="col-sm-10">
									<input 
									type="text" 
									name="phone" 
									id="phone"
									required
									maxlength="13"
									oninput="autoHyphen(this)"
									placeholder="휴대폰 번호를 입력 해 주세요."
									class="form-control">
									<div class="signup-error-message">
										<p id="phone-error-message"></p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="telephone">일반 전화번호</label>
								<div class="col-sm-10">
									<input 
									type="text" 
									name="telephone" 
									id="telephone"
									placeholder="일반 전화번호를 입력 해 주세요."
									class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="fax">FAX</label>
								<div class="col-sm-10">
									<input 
									type="text" 
									name="fax" 
									placeholder="Fax번호를 입력 해 주세요." 
									id="fax"
									class="form-control">
								</div>
							</div>
							<legend>주소 정보</legend>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="address">대표 주소</label>
								<div class="col-sm-10">
									<input 
									type="text" 
									name="address" 
									required
									class="form-control"
									placeholder="대표 주소를 입력 해 주세요."
									id="address">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="postal">우편번호</label>
								<div class="col-sm-10">
									<input 
									type="number" 
									name="postal"
									id="postal"
									placeholder="우편번호를 입력 해 주세요."
									class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="deliveryAddress">배송지 주소</label>
								<div class="col-sm-10">
									<input 
									type="text" 
									name="deliveryAddress" 
									class="form-control"
									placeholder="배송을 받을 주소를 입력 해 주세요."
									id="deliveryAddress">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="deliveryPostal">우편번호</label>
								<div class="col-sm-10">
									<input 
									type="number" 
									name="deliveryPostal"
									id="deliveryPostal"
									placeholder="우편번호를 입력 해 주세요."
									class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-2 control-label" for="memberFile">첨부파일</label>
								<div class="col-sm-10">
									<div class="d-flex">
									    <input type="text" placeholder="첨부파일들을 업로드 해 주세요." class="file-input" readonly="readonly">
										<input type="file" required name="memberFile" class="file">
									    <input type="button" class="file-btn" value="select">
									</div>
								</div>
							</div>
						<div class="buttons">
							<div class="pull-right">체크시 IBIO <a href="#" class="agree"><b>개인정보 처리방침</b></a> 및 <a href="#" class="agree"><b>쇼핑몰 이용약관</b></a>에 동의한 것으로 간주됩니다.
								<input 
								class="box-checkbox" 
								type="checkbox" 
								name="agree"
								checked
								id="agree"> &nbsp;
								<button type="submit" id="signupBtn" class="btn btn-primary">회원가입</button>
								<div class="signup-error-message">
									<p id="privacy-error-message"></p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: footer"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
	<script src="/front/js/dealerSignUp.js"></script>
	<script>
		const autoHyphen = (target) => {
		target.value = target.value
			.replace(/[^0-9]/g, '')
			.replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
		}
		$(document).ready(function() {
		  $('.file-btn').on('click', function() {
		    $(this).prev().trigger('click');
		  });
		
		  $('.file').on('change', function() {
		    var fileName = $(this)[0].files[0].name;    
		    $(this).prev().val(fileName);
		  });
		})
	</script>
</body>

</html>
