<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc">
</head>

<body class="res layout-1 layout-subpage">

	<div id="wrapper" class="wrapper-fluid banners-effect-5">
		<header id="header" class=" typeheader-1" th:replace="fragments/front/common :: headerMenu"></header>

		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">공지사항</a></li>

			</ul>

			<div class="row" style="display:flex; justify-content:center;">
				<!--Left Part Start -->
				<div id="content" class="col-md-10 col-sm-10 site">
					<div class="blog-header">
						<h3>공지사항</h3>

					</div>
					<div class="blog-category clearfix">

						
						<div class="blog-listitem row">
							<div class="blog-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog-item-inner clearfix">
									<div class="itemBlogContent clearfix ">
										<div class="blog-content">
											<div class="article-title font-title">
												<h4><a href="/noticeDetail">공지사항 제목</a></h4>
											</div>
											<div class="blog-meta"> <span class="author"><i
														class="fa fa-user"></i><span>업로드 :  </span>관리자</span>
											</div>
											<p class="article-description">내용 일부....</p>
											<div class="readmore"> <a class="btn-readmore font-title"
													href="/noticeDetail"><i class="fa fa-caret-right"></i>자세히 보기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="blog-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog-item-inner clearfix">
									<div class="itemBlogContent clearfix ">
										<div class="blog-content">
											<div class="article-title font-title">
												<h4><a href="/noticeDetail">공지사항 제목</a></h4>
											</div>
											<div class="blog-meta"> <span class="author"><i
														class="fa fa-user"></i><span>업로드 :  </span>관리자</span>
											</div>
											<p class="article-description">내용 일부....</p>
											<div class="readmore"> <a class="btn-readmore font-title"
													href="/noticeDetail"><i class="fa fa-caret-right"></i>자세히 보기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="blog-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog-item-inner clearfix">
									<div class="itemBlogContent clearfix ">
										<div class="blog-content">
											<div class="article-title font-title">
												<h4><a href="/noticeDetail">공지사항 제목</a></h4>
											</div>
											<div class="blog-meta"> <span class="author"><i
														class="fa fa-user"></i><span>업로드 :  </span>관리자</span>
											</div>
											<p class="article-description">내용 일부....</p>
											<div class="readmore"> <a class="btn-readmore font-title"
													href="/noticeDetail"><i class="fa fa-caret-right"></i>자세히 보기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="blog-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog-item-inner clearfix">
									<div class="itemBlogContent clearfix ">
										<div class="blog-content">
											<div class="article-title font-title">
												<h4><a href="/noticeDetail">공지사항 제목</a></h4>
											</div>
											<div class="blog-meta"> <span class="author"><i
														class="fa fa-user"></i><span>업로드 :  </span>관리자</span>
											</div>
											<p class="article-description">내용 일부....</p>
											<div class="readmore"> <a class="btn-readmore font-title"
													href="/noticeDetail"><i class="fa fa-caret-right"></i>자세히 보기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="blog-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog-item-inner clearfix">
									<div class="itemBlogContent clearfix ">
										<div class="blog-content">
											<div class="article-title font-title">
												<h4><a href="/noticeDetail">공지사항 제목</a></h4>
											</div>
											<div class="blog-meta"> <span class="author"><i
														class="fa fa-user"></i><span>업로드 :  </span>관리자</span>
											</div>
											<p class="article-description">내용 일부....</p>
											<div class="readmore"> <a class="btn-readmore font-title"
													href="/noticeDetail"><i class="fa fa-caret-right"></i>자세히 보기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="blog-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog-item-inner clearfix">
									<div class="itemBlogContent clearfix ">
										<div class="blog-content">
											<div class="article-title font-title">
												<h4><a href="/noticeDetail">공지사항 제목</a></h4>
											</div>
											<div class="blog-meta"> <span class="author"><i
														class="fa fa-user"></i><span>업로드 :  </span>관리자</span>
											</div>
											<p class="article-description">내용 일부....</p>
											<div class="readmore"> <a class="btn-readmore font-title"
													href="/noticeDetail"><i class="fa fa-caret-right"></i>자세히 보기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="blog-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog-item-inner clearfix">
									<div class="itemBlogContent clearfix ">
										<div class="blog-content">
											<div class="article-title font-title">
												<h4><a href="/noticeDetail">공지사항 제목</a></h4>
											</div>
											<div class="blog-meta"> <span class="author"><i
														class="fa fa-user"></i><span>업로드 :  </span>관리자</span>
											</div>
											<p class="article-description">내용 일부....</p>
											<div class="readmore"> <a class="btn-readmore font-title"
													href="/noticeDetail"><i class="fa fa-caret-right"></i>자세히 보기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						<div class="product-filter product-filter-bottom filters-panel clearfix">
							<div class="row">
								<div class="col-md-12">
									<div></div>
								</div>
							</div>
						</div>
						<div class="product-filter product-filter-top filters-panel hidden-sm hidden-xs">
							<div class="row">
								<div class="col-sm-4 view-mode">
									<div class="list-view ">
										<button type="button" id="grid-view"
											class="btn btn-view hidden-sm hidden-xs">1</button>
										<button type="button" id="grid-view-2" class="btn btn-view ">2</button>
										<button type="button" id="grid-view-3"
											class="btn btn-view hidden-sm hidden-xs ">3</button>
										<button type="button" id="grid-view-4"
											class="btn btn-view hidden-sm hidden-xs">4</button>
										<button type="button" id="list-view" class="btn btn-view list "><i
												class="fa fa-bars"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Middle Part End-->
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: ibioFooter"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>

</body>

</html>