<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc">
</head>

<body class="res layout-1 layout-subpage">

	<div id="wrapper" class="wrapper-fluid banners-effect-5">
		<header id="header" class=" typeheader-1" th:replace="fragments/front/common :: headerMenu"></header>

		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">CORNING/Microplate/Cell culture plates<a></li>
				<li><a href="#">CORNING</a></li>

			</ul>
			<div class="row">

				<aside class="col-sm-4 col-md-3 content-aside" id="column-left">
					<div class="module category-style">
						<h3 class="modtitle">Categories</h3>
						<div class="modcontent">
							<div class="box-category">
								<ul id="cat_accordion" class="list-group">
									<li class="hadchild"><a href="/productList" class="cutom-parent">중분류</a> <span class="button-view  fa fa-plus-square-o"></span>
										<ul style="display: block;">
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
										</ul>
									</li>
									<li class="hadchild"><a href="/productList" class="cutom-parent">중분류</a> <span class="button-view  fa fa-plus-square-o"></span>
										<ul style="display: block;">
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
										</ul>
									</li>
									<li class="hadchild"><a href="/productList" class="cutom-parent">중분류</a> <span class="button-view  fa fa-plus-square-o"></span>
										<ul style="display: block;">
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
										</ul>
									</li>
									<li class="hadchild"><a href="/productList" class="cutom-parent">중분류</a> <span class="button-view  fa fa-plus-square-o"></span>
										<ul style="display: block;">
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
										</ul>
									</li>
									<li class="hadchild"><a href="/productList" class="cutom-parent">중분류</a> <span class="button-view  fa fa-plus-square-o"></span>
										<ul style="display: block;">
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
										</ul>
									</li>
									<li class="hadchild"><a href="/productList" class="cutom-parent">중분류</a> <span class="button-view  fa fa-plus-square-o"></span>
										<ul style="display: block;">
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
											<li><a href="/productList">소분류</a></li>
										</ul>
									</li>
								</ul>
							</div>


						</div>
					</div>
					<div class="module product-simple">
						<h3 class="modtitle">
							<span>최근등록제품</span>
						</h3>
						<div class="modcontent">
							<div class="so-extraslider">
								<div class=" extraslider-inner">
									<div class="item ">
										<div class="product-layout item-inner style1 ">
											<div class="item-image">
												<div class="item-img-info">
													<a href="#" target="_self" title="Mandouille short ">
														<img src="/front/image/catalog/demo/product/80/1.jpg"
															alt="Mandouille short">
													</a>
												</div>

											</div>
											<div class="item-info">
												<div class="item-title">
													<a href="#" target="_self" title="Mandouille short">제품명
													</a>
												</div>
												<div class="rating">
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star-o fa-stack-2x"></i></span>
												</div>
												<div class="content_price price">
													<span class="price-new product-price">할인 후 금액 </span>&nbsp;&nbsp;

													<span class="price-old">할인 전 금액 </span>&nbsp;

												</div>
											</div>
										</div>
										<div class="product-layout item-inner style1 ">
											<div class="item-image">
												<div class="item-img-info">
													<a href="#" target="_self" title="Mandouille short ">
														<img src="/front/image/catalog/demo/product/80/1.jpg"
															alt="Mandouille short">
													</a>
												</div>

											</div>
											<div class="item-info">
												<div class="item-title">
													<a href="#" target="_self" title="Mandouille short">제품명
													</a>
												</div>
												<div class="rating">
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star-o fa-stack-2x"></i></span>
												</div>
												<div class="content_price price">
													<span class="price-new product-price">할인 후 금액 </span>&nbsp;&nbsp;

													<span class="price-old">할인 전 금액 </span>&nbsp;

												</div>
											</div>
										</div>
										<div class="product-layout item-inner style1 ">
											<div class="item-image">
												<div class="item-img-info">
													<a href="#" target="_self" title="Mandouille short ">
														<img src="/front/image/catalog/demo/product/80/1.jpg"
															alt="Mandouille short">
													</a>
												</div>

											</div>
											<div class="item-info">
												<div class="item-title">
													<a href="#" target="_self" title="Mandouille short">제품명
													</a>
												</div>
												<div class="rating">
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star-o fa-stack-2x"></i></span>
												</div>
												<div class="content_price price">
													<span class="price-new product-price">할인 후 금액 </span>&nbsp;&nbsp;

													<span class="price-old">할인 전 금액 </span>&nbsp;

												</div>
											</div>
										</div>
										<div class="product-layout item-inner style1 ">
											<div class="item-image">
												<div class="item-img-info">
													<a href="#" target="_self" title="Mandouille short ">
														<img src="/front/image/catalog/demo/product/80/1.jpg"
															alt="Mandouille short">
													</a>
												</div>

											</div>
											<div class="item-info">
												<div class="item-title">
													<a href="#" target="_self" title="Mandouille short">제품명
													</a>
												</div>
												<div class="rating">
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star fa-stack-2x"></i></span>
													<span class="fa fa-stack"><i
															class="fa fa-star-o fa-stack-2x"></i></span>
												</div>
												<div class="content_price price">
													<span class="price-new product-price">할인 후 금액 </span>&nbsp;&nbsp;

													<span class="price-old">할인 전 금액 </span>&nbsp;

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>

				<div id="content" class="col-md-9 col-sm-8">
					<div class="product-view row">
						<div class="left-content-product">

							<div class="content-product-left class-honizol col-md-5 col-sm-12 col-xs-12">
								<div class="large-image  ">
									<img itemprop="image" class="product-image-zoom"
										src="/front/image/new/product/5.jpeg" title="#"
										alt="#">
								</div>

								<div id="thumb-slider" class="yt-content-slider full_slider owl-drag" data-rtl="yes"
									data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6"
									data-margin="10" data-items_column00="4" data-items_column0="4"
									data-items_column1="3" data-items_column2="4" data-items_column3="1"
									data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes"
									data-loop="no" data-hoverpause="yes">
									<a data-index="0" class="img thumbnail "
										data-image="/front/image/new/product/5.jpeg" title="Chicken swinesha">
										<img src="/front/image/new/product/5.jpeg" title="Chicken swinesha"
											alt="Chicken swinesha">
									</a>
									<a data-index="1" class="img thumbnail "
										data-image="/front/image/new/product/5-2.jpeg" title="Chicken swinesha">
										<img src="/front/image/new/product/5-2.jpeg" title="Chicken swinesha"
											alt="Chicken swinesha">
									</a>
									</a>
								</div>

							</div>

							<div class="content-product-right col-md-7 col-sm-12 col-xs-12">
								<div class="title-product">
									<h1>Costar® Multiple Well Cell Culture Plates</h1>
								</div>
								<div class="box-review form-group">
									<div class="ratings">
										<div class="rating-box">
											<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
											<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
											<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
											<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
											<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										</div>
									</div>

									<!--<a class="reviews_button" href=""
										onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0
										reviews</a> |
									<a class="write_review_button" href=""
										onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a
										review</a>-->
									<a>CORNING</a> |
									<a>Microplate</a> |
									<a>Cell culture plates</a> 
								</div>

								<div class="product-label form-group">
									<div class="product_page_price price" itemprop="offerDetails" itemscope=""
										itemtype="#">
										<span class="price-new" itemprop="price">108,900</span>
										<!--<span class="price-old">30,600</span>-->
									</div>
								<!--	<div class="stock"><span>Availability:</span> <span class="status-stock">In
											Stock</span></div>-->
								</div>

								<div class="product-box-desc">
									<div class="inner-box-desc">
										<div class="price-tax"><span>제폼번호 : </span> 5182-0717</div>
										<div class="price-tax"><span>전화번호 : </span> 02-743-7190</div>
										<div class="price-tax"><span>E-MAIL : </span> ibiosci78@gmail.com</div>
										<div class="price-tax"><span>재고 : </span> 재고문의</div>
										<div class="price-tax"><span>단위 : </span> EA</div>
										<div class="price-tax"><span>상세 : </span> Costar® 6-well Clear TC-treated Multiple Well Plates, Individually Wrapped, Sterile</div>
									</div>
								</div>


								<div id="product">
									<h4>제품옵션</h4>
									<div class="image_option_type form-group required">
										<label class="control-label">비용추가없는 옵션</label>
										<ul class="product-options clearfix" id="input-option231">
											<li class="radio">
												<label>
													<input class="image_radio" type="radio" name="option[231]"
														value="33">
													<img src="/front/image/demo/colors/blue.jpg"
														data-original-title="blue +$12.00"
														class="img-thumbnail icon icon-color"> <i
														class="fa fa-check"></i>
													<label> </label>
												</label>
											</li>
											<li class="radio">
												<label>
													<input class="image_radio" type="radio" name="option[231]"
														value="34">
													<img src="/front/image/demo/colors/brown.jpg"
														data-original-title="brown -$12.00"
														class="img-thumbnail icon icon-color"> <i
														class="fa fa-check"></i>
													<label> </label>
												</label>
											</li>
											<li class="radio">
												<label>
													<input class="image_radio" type="radio" name="option[231]"
														value="35"> <img src="/front/image/demo/colors/green.jpg"
														data-original-title="green +$12.00"
														class="img-thumbnail icon icon-color"> <i
														class="fa fa-check"></i>
													<label> </label>
												</label>
											</li>
											<li class="selected-option">
											</li>
										</ul>
									</div>

									<div class="box-checkbox form-group required">
										<label class="control-label">비용추가없는 옵션</label>
										<div id="input-option232">
											<div class="checkbox">
												<label for="checkbox_1"><input type="checkbox"> 옵션 (+ 추가비용)</label>
											</div>
											<div class="checkbox">
												<label for="checkbox_1"><input type="checkbox"> 옵션 (+ 추가비용)</label>
											</div>
											<div class="checkbox">
												<label for="checkbox_1"><input type="checkbox"> 옵션 (+ 추가비용)</label>
											</div>
											<div class="checkbox">
												<label for="checkbox_1"><input type="checkbox"> 옵션 (+ 추가비용)</label>
											</div>
										</div>
									</div>

									<div class="form-group box-info-product">
										<div class="option quantity">
											<div class="input-group quantity-control" unselectable="on"
												style="-webkit-user-select: none;">
												<label>수량</label>
												<input class="form-control" type="text" name="quantity" value="1">
												<input type="hidden" name="product_id" value="50">
												<span class="input-group-addon product_quantity_down">−</span>
												<span class="input-group-addon product_quantity_up">+</span>
											</div>
										</div>
										<div class="cart">
											<input type="button" data-toggle="tooltip" title="" value="Add to Cart"
												data-loading-text="Loading..." id="button-cart"
												class="btn btn-mega btn-lg" onclick="cart.add('42', '1');"
												data-original-title="Add to Cart">
										</div>
										<div class="add-to-links wish_comp">
											<ul class="blank list-inline">
												<li class="wishlist">
													<a class="icon" data-toggle="tooltip" title=""
														onclick="wishlist.add('50');"
														data-original-title="Add to Wish List"><i
															class="fa fa-heart"></i>
													</a>
												</li>
												<li class="compare">
													<a class="icon" data-toggle="tooltip" title=""
														onclick="compare.add('50');"
														data-original-title="Compare this Product"><i
															class="fa fa-exchange"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Product Tabs -->
					<div class="producttab ">
						<div class="tabsslider  vertical-tabs col-xs-12">
							<ul class="nav nav-tabs col-lg-2 col-sm-3">
								<li class="active"><a data-toggle="tab" href="#tab-1"># 제품스펙</a></li>
								<li class="item_nonactive"><a data-toggle="tab" href="#tab-4"># 제품태그</a></li>
								<li class="item_nonactive"><a data-toggle="tab" href="#tab-5"># 첨부파일</a></li>
							</ul>
							<div class="tab-content col-lg-10 col-sm-9 col-xs-12">
								<div id="tab-1" class="tab-pane fade active in">
									<img src="/front/image/new/product/5-3.jpeg">
								</div>
								
								<div id="tab-4" class="tab-pane fade">
									<a href="#"># 실험실소모품</a>
								</div>
								<div id="tab-5" class="tab-pane fade">
									<p><a href="#">카달로그.pdf</a></p>
								</div>
							</div>
						</div>
					</div>
					<!-- //Product Tabs -->

					<!-- Related Products -->
					<div class="related titleLine products-list grid module ">
						<h3 class="modtitle">연관제품 </h3>

						<div class="releate-products yt-content-slider products-list" data-rtl="no" data-loop="yes"
							data-autoplay="no" data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6"
							data-margin="30" data-items_column00="5" data-items_column0="5" data-items_column1="3"
							data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes"
							data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
							<div class="item">
								<div class="item-inner product-layout transition product-grid">
									<div class="product-item-container">
										<div class="left-block left-b">
											<div class="box-label">
												<span class="label-product label-sale">-15%</span>
											</div>
											<div class="product-image-container second_img">
												<a href="/productDetail" target="_self" title="Exceeur sint occaecat">
													<img src="/front/image/catalog/demo/product/270/e2.jpg"
														class="img-1 img-responsive" alt="image1">
													<img src="/front/image/catalog/demo/product/270/e9.jpg"
														class="img-2 img-responsive" alt="image2">
												</a>
											</div>
											<!--quickview-->
											<div class="so-quickview">
												<a class="iframe-link btn-button quickview quickview_handler visible-lg"
													href="quickview.html" title="Quick view"
													data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick
														view</span></a>
											</div>
											<!--end quickview-->

										</div>
										<div class="right-block">
											<div class="button-group so-quickview cartinfo--left">
												<button type="button" class="addToCart" title="Add to cart"
													onclick="cart.add('60 ');">
													<span>Add to cart </span>
												</button>
												<button type="button" class="wishlist btn-button"
													title="Add to Wish List" onclick="wishlist.add('60');"><i
														class="fa fa-heart-o"></i><span>Add to Wish List</span>
												</button>
												<button type="button" class="compare btn-button"
													title="Compare this Product " onclick="compare.add('60');"><i
														class="fa fa-retweet"></i><span>Compare this Product</span>
												</button>

											</div>
											<div class="caption hide-cont">
												<div class="ratings">
													<div class="rating-box"> <span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
													</div>
													<span class="rating-num">( 3 )</span>
												</div>
												<h4><a href="/productDetail" title="Pastrami bacon" target="_self">제품명</a></h4>

											</div>
											<p class="price">
												<span class="price-new">할인 후 금액</span>
												<span class="price-old">할인 전 금액</span>
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="item-inner product-layout transition product-grid">
									<div class="product-item-container">
										<div class="left-block left-b">
											<div class="box-label">
												<span class="label-product label-sale">-15%</span>
											</div>
											<div class="product-image-container second_img">
												<a href="/productDetail" target="_self" title="Exceeur sint occaecat">
													<img src="/front/image/catalog/demo/product/270/e2.jpg"
														class="img-1 img-responsive" alt="image1">
													<img src="/front/image/catalog/demo/product/270/e9.jpg"
														class="img-2 img-responsive" alt="image2">
												</a>
											</div>
											<!--quickview-->
											<div class="so-quickview">
												<a class="iframe-link btn-button quickview quickview_handler visible-lg"
													href="quickview.html" title="Quick view"
													data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick
														view</span></a>
											</div>
											<!--end quickview-->

										</div>
										<div class="right-block">
											<div class="button-group so-quickview cartinfo--left">
												<button type="button" class="addToCart" title="Add to cart"
													onclick="cart.add('60 ');">
													<span>Add to cart </span>
												</button>
												<button type="button" class="wishlist btn-button"
													title="Add to Wish List" onclick="wishlist.add('60');"><i
														class="fa fa-heart-o"></i><span>Add to Wish List</span>
												</button>
												<button type="button" class="compare btn-button"
													title="Compare this Product " onclick="compare.add('60');"><i
														class="fa fa-retweet"></i><span>Compare this Product</span>
												</button>

											</div>
											<div class="caption hide-cont">
												<div class="ratings">
													<div class="rating-box"> <span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
													</div>
													<span class="rating-num">( 3 )</span>
												</div>
												<h4><a href="/productDetail" title="Pastrami bacon" target="_self">제품명</a></h4>

											</div>
											<p class="price">
												<span class="price-new">할인 후 금액</span>
												<span class="price-old">할인 전 금액</span>
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="item-inner product-layout transition product-grid">
									<div class="product-item-container">
										<div class="left-block left-b">
											<div class="box-label">
												<span class="label-product label-sale">-15%</span>
											</div>
											<div class="product-image-container second_img">
												<a href="/productDetail" target="_self" title="Exceeur sint occaecat">
													<img src="/front/image/catalog/demo/product/270/e2.jpg"
														class="img-1 img-responsive" alt="image1">
													<img src="/front/image/catalog/demo/product/270/e9.jpg"
														class="img-2 img-responsive" alt="image2">
												</a>
											</div>
											<!--quickview-->
											<div class="so-quickview">
												<a class="iframe-link btn-button quickview quickview_handler visible-lg"
													href="quickview.html" title="Quick view"
													data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick
														view</span></a>
											</div>
											<!--end quickview-->

										</div>
										<div class="right-block">
											<div class="button-group so-quickview cartinfo--left">
												<button type="button" class="addToCart" title="Add to cart"
													onclick="cart.add('60 ');">
													<span>Add to cart </span>
												</button>
												<button type="button" class="wishlist btn-button"
													title="Add to Wish List" onclick="wishlist.add('60');"><i
														class="fa fa-heart-o"></i><span>Add to Wish List</span>
												</button>
												<button type="button" class="compare btn-button"
													title="Compare this Product " onclick="compare.add('60');"><i
														class="fa fa-retweet"></i><span>Compare this Product</span>
												</button>

											</div>
											<div class="caption hide-cont">
												<div class="ratings">
													<div class="rating-box"> <span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
													</div>
													<span class="rating-num">( 3 )</span>
												</div>
												<h4><a href="/productDetail" title="Pastrami bacon" target="_self">제품명</a></h4>

											</div>
											<p class="price">
												<span class="price-new">할인 후 금액</span>
												<span class="price-old">할인 전 금액</span>
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="item-inner product-layout transition product-grid">
									<div class="product-item-container">
										<div class="left-block left-b">
											<div class="box-label">
												<span class="label-product label-sale">-15%</span>
											</div>
											<div class="product-image-container second_img">
												<a href="/productDetail" target="_self" title="Exceeur sint occaecat">
													<img src="/front/image/catalog/demo/product/270/e2.jpg"
														class="img-1 img-responsive" alt="image1">
													<img src="/front/image/catalog/demo/product/270/e9.jpg"
														class="img-2 img-responsive" alt="image2">
												</a>
											</div>
											<!--quickview-->
											<div class="so-quickview">
												<a class="iframe-link btn-button quickview quickview_handler visible-lg"
													href="quickview.html" title="Quick view"
													data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick
														view</span></a>
											</div>
											<!--end quickview-->

										</div>
										<div class="right-block">
											<div class="button-group so-quickview cartinfo--left">
												<button type="button" class="addToCart" title="Add to cart"
													onclick="cart.add('60 ');">
													<span>Add to cart </span>
												</button>
												<button type="button" class="wishlist btn-button"
													title="Add to Wish List" onclick="wishlist.add('60');"><i
														class="fa fa-heart-o"></i><span>Add to Wish List</span>
												</button>
												<button type="button" class="compare btn-button"
													title="Compare this Product " onclick="compare.add('60');"><i
														class="fa fa-retweet"></i><span>Compare this Product</span>
												</button>

											</div>
											<div class="caption hide-cont">
												<div class="ratings">
													<div class="rating-box"> <span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
													</div>
													<span class="rating-num">( 3 )</span>
												</div>
												<h4><a href="/productDetail" title="Pastrami bacon" target="_self">제품명</a></h4>

											</div>
											<p class="price">
												<span class="price-new">할인 후 금액</span>
												<span class="price-old">할인 전 금액</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="item-inner product-layout transition product-grid">
									<div class="product-item-container">
										<div class="left-block left-b">
											<div class="box-label">
												<span class="label-product label-sale">-15%</span>
											</div>
											<div class="product-image-container second_img">
												<a href="/productDetail" target="_self" title="Exceeur sint occaecat">
													<img src="/front/image/catalog/demo/product/270/e2.jpg"
														class="img-1 img-responsive" alt="image1">
													<img src="/front/image/catalog/demo/product/270/e9.jpg"
														class="img-2 img-responsive" alt="image2">
												</a>
											</div>
											<!--quickview-->
											<div class="so-quickview">
												<a class="iframe-link btn-button quickview quickview_handler visible-lg"
													href="quickview.html" title="Quick view"
													data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Quick
														view</span></a>
											</div>
											<!--end quickview-->

										</div>
										<div class="right-block">
											<div class="button-group so-quickview cartinfo--left">
												<button type="button" class="addToCart" title="Add to cart"
													onclick="cart.add('60 ');">
													<span>Add to cart </span>
												</button>
												<button type="button" class="wishlist btn-button"
													title="Add to Wish List" onclick="wishlist.add('60');"><i
														class="fa fa-heart-o"></i><span>Add to Wish List</span>
												</button>
												<button type="button" class="compare btn-button"
													title="Compare this Product " onclick="compare.add('60');"><i
														class="fa fa-retweet"></i><span>Compare this Product</span>
												</button>

											</div>
											<div class="caption hide-cont">
												<div class="ratings">
													<div class="rating-box"> <span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-2x"></i></span>
													</div>
													<span class="rating-num">( 3 )</span>
												</div>
												<h4><a href="/productDetail" title="Pastrami bacon" target="_self">제품명</a></h4>

											</div>
											<p class="price">
												<span class="price-new">할인 후 금액</span>
												<span class="price-old">할인 전 금액</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: ibioFooter"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>

</body>

</html>