<!doctype html>
<html lang="ko" data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none"
	data-preloader="disable" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/administration/common :: headSrc">

</head>

<body>

	<div id="layout-wrapper">

		<header id="page-topbar" th:replace="fragments/administration/common :: headerMenu">

		</header>

		<div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true"
			th:replace="fragments/administration/common :: removeModal">
		</div>

		<div class="app-menu navbar-menu" th:replace="fragments/administration/common :: navMenu">
		</div>

		<div class="vertical-overlay"></div>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">본사 제품 등록</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
										<li class="breadcrumb-item active">본사 제품 등록 페이지</li>
									</ol>
								</div>

							</div>
						</div>
					</div>
					<form 
					id="productAddForm"
					action="/admin/productInsert" 
					method="POST" 
					enctype="multipart/form-data">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-2">제품 분류 및 브랜드 입력</h5>
										<p class="text-muted mb-2"># 대분류는 반드시 선택 되어야 합니다.</p>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<div class="card-body" style="padding-right:0px;">
												<div>
													<label class="form-label">대분류</label>
													<select 
														class="form-select" 
														id="smallPanelBigSort"
														name="bigId"
														required														>
														<option selected value="">=== 대분류 선택 ===</option>
														<option th:each="b:${bigsorts}" th:text="${b.name}" th:value="${b.id}"></option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="card-body" style="padding-right:0px;padding-left:0px;">
												<div>
													<label class="form-label">중분류</label>
													<select 
														class="form-select" 
														id="smallPanelMiddleSort"
														name="middleId"
														required
														>
													</select>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="card-body" style="padding-left:0px;">
												<div>
													<label class="form-label">소분류</label>
													<select 
														class="form-select" 
														id="smallPanelSmallSort"
														name="smallId"
														required
														>
													</select>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="card-body" style="padding-right:0px;">
												<div>
													<label class="form-label">브랜드</label>
													<input 
													type="text" 
													class="form-control" 
													id="brand"
													name="brand"
													placeholder="브랜드명을 입력 해 주세요." 
													>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="card-body" style="padding-left:0px;">
												<div>
													<label class="form-label">브랜드 대표이미지</label>
													<input 
													type="file" 
													name="brandImage"
													id="brandImage"
													class="form-control" 
													required
													accept="image/*"
													>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">제품 TITLE</h5>
									</div>
									<div class="card-body">
										<div class="mb-3">
											<input 
											type="text"
											id="title"
											name="title"
											class="form-control" 
											placeholder="제품 이름을 입력 해 주세요.">
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-2">제품 SPEC</h5>
										<p class="text-muted mb-0"># [스펙명 : 스펙내용]의 형태로 입력할 수 있습니다.</p>
										<p class="text-muted mb-2"># 스펙 입력 후 ENTER를 통해 입력을 확정할 수 있습니다.</p>
									</div>
									<div class="card-body">
										<div class="hstack gap-3 align-items-start">
											<div class="flex-grow-1">
												<input 
												class="form-control" 
												data-choices
												id="productSpecs"
												data-choices-multiple-remove="true" 
												data-choices-groups="예) 중량 : 15kg"
												type="text" 
												/>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-2">제품 TAGs</h5>
										<p class="text-muted mb-0"># [#제품TAG] 의 형태로 입력할 수 있습닌다.</p>
										<p class="text-muted mb-2"># 입력 후 ENTER를 통해 입력을 확정할 수 있습니다.</p>
									</div>
									<div class="card-body">
										<div class="hstack gap-3 align-items-start">
											<div class="flex-grow-1">
												<input 
												id="productTags"
												class="form-control" 
												data-choices
												data-choices-multiple-remove="true"
												type="text"
												data-choices-groups="예) # 실험기기"/>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-2">제품 DESCRIPTION</h5>
									</div>
									<div class="card-body">
										<p class="text-muted mb-2"># 제품에 대한 설명을 입력 해 주세요.</p>
										<textarea 
										id="description"
										name="description"
										class="form-control" 
										placeholder="제품에 대한 설명을 입력 해 주세요."
										rows="5"></textarea>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">제품 이미지</h5>
									</div>
									<div class="card-body">
										<div class="mb-4">
											<h5 class="fs-15 mb-1">대표 이미지</h5>
											<p class="text-muted"># 제품의 대표 이미지를 선택 하여 업로드 해 주세요.</p>
											<p class="text-muted"># 제품 상세페이지를 포함하여 해당 이미지로 제품이 표시됩니다.</p>
											<div>
												<input 
												type="file"
												name="productImage"
												id="productImage" 
												class="form-control" 
												accept="image/*"
												>
											</div>
										</div>
										<div>
											<h5 class="fs-15 mb-1">제품 슬라이드 이미지</h5>
											<p class="text-muted"># 제품 상세페이지의 슬라이드 이미지들을 업로드 해 주세요.</p>
											<div>
												<input 
												type="file" 
												name="slideImages"
												id="slideImages"
												multiple
												class="form-control" 
												accept="image/*"
												>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">제품 소비자가격</h5>
										<p class="text-muted"># 제품 소비자가격은 숫자로만 입력 해 주세요.</p>
									</div>
									<div class="card-body">
										<div class="mb-3">
											<input 
											type="number" 
											name="price"
											class="form-control" 
											placeholder="소비자 가격"
											id="price"
											required
											>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-0">소비자가격 표시여부</h5>
										<p class="text-muted"># 제품 금액을 보여줄 대상을 모두 선택 해 주세요.</p>
									</div>
									<div class="card-body">
										<div class="mb-3">
											<select 
											id="target"
											name="priceTarget"
											class="form-control">
												<option value="0" selected>모두</option>
												<option value="1">회원이상</option>
												<option value="2">딜러만</option>
											</select>
										</div>
									</div>
								</div>
	
								<div class="card">
									<div class="card-header" style="display: flex;">
										<h5 class="card-title mb-0">전용가격 입력</h5>
										<div class="form-check form-switch" dir="ltr" style="margin-left:10px;">
											<input type="checkbox" class="form-check-input" id="discountRadio">
										</div><br>
										<p class="text-muted"># 선택하지 않을 경우 모든 구매자에게 소비자가격이 적용 됩니다.</p>
									</div>
									<div class="card-body" id="discountSection">
										<div class="row">
											<div class="col-lg-4 col-sm-12">
												<div class="mb-3">
													<label class="form-label">비회원 전용가격</label>
													<div class="input-group mb-3">
														<span class="input-group-text">%</span>
														<input 
														id="noneDiscount"
														name="noneDiscount"
														type="number"
														class="form-control"
														placeholder="금액을 숫자로 입력 해 주세요.">
													</div>
												</div>
											</div>
											<div class="col-lg-4 col-sm-12">
												<div class="mb-3">
													<label class="form-label">회원 전용가격</label>
													<div class="input-group mb-3">
														<span class="input-group-text">%</span>
														<input 
														id="memberDiscount"
														name="memberDiscount"
														type="number"
														class="form-control"
														placeholder="금액을 숫자로 입력 해 주세요.">
													</div>
												</div>
											</div>
											<div class="col-lg-4 col-sm-12">
												<div class="mb-3">
													<label class="form-label">딜러 전용가격</label>
													<div class="input-group mb-3">
														<span class="input-group-text">%</span>
														<input 
														id="dealerDiscount"
														name="dealerDiscount"
														type="number"
														class="form-control"
														placeholder="금액을 숫자로 입력 해 주세요.">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
	
								<div class="card">
									<div class="card-header" style="display: flex;">
										<h5 class="card-title mb-0">제품 선택옵션 등록</h5>
										<div class="form-check form-switch" dir="ltr" style="margin-left:10px;">
											<input type="checkbox" class="form-check-input" id="optionRadio">
										</div>
									</div>
	
									<div class="card-body" id="optionSection">
										<div class="row">
											<div class="col-lg-12 col-sm-12"
												style="display:flex;align-items: center;vertical-align: middle;">
												<div class="form-check form-radio-primary mr-10">
													<input 
													class="form-check-input" 
													type="radio" 
													name="priceChange"
													value="true" 
													id="priceChange">
													<label class="form-check-label" for="priceChange">
														가격 변동이 있는 옵션
													</label>
												</div>
												<div class="form-check form-radio-primary mr-10">
													<input 
													class="form-check-input" 
													type="radio" 
													name="priceChange"
													value="false" 
													id="priceNoneChange">
													<label class="form-check-label" for="priceNoneChange">
														가격 변동이 없는 옵션
													</label>
												</div>
												<button 
												type="button" 
												class="btn btn-success btn-sm"
												id="optionAddButton"> <i class="bx bx-add-to-queue"></i>옵션추가</button>
											</div>
										</div>
										<div id="optionSelectForm">
										</div>
									</div>
								</div>
	
								<div class="card">
									<div class="card-header" style="display: flex;">
										<h5 class="card-title mb-0">제품 이벤트 등록</h5>
										<div class="form-check form-switch" dir="ltr" style="margin-left:10px;">
											<input type="checkbox" class="form-check-input" id="eventRadio">
										</div>
									</div>
									<div class="card-body" id="eventSection">
										<div class="row">
											<div class="col-lg-3 col-sm-6">
												<label class="form-label">이벤트 선택</label>
												<select class="form-select" name="eventN" id="eventName">
													<option value="none" selected>이벤트 없음</option>
													<option value="flash">FLASH 세일</option>
												</select>
											</div>
											<div class="col-lg-3 col-sm-6">
												<div class="mb-3">
													<label class="form-label">비회원 추가 할인 비율</label>
													<div class="input-group mb-3">
														<span class="input-group-text">%</span>
														<input 
														type="number" 
														name="eventNoneD"
														id="eventNoneDiscount"
														class="form-control"
														placeholder="Enter discount">
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-sm-6">
												<div class="mb-3">
													<label class="form-label">회원 추가 할인 비율</label>
													<div class="input-group mb-3">
														<span class="input-group-text">%</span>
														<input 
														name="eventMemberD"
														type="number" 
														id="eventMemberDiscount"
														class="form-control"
														placeholder="Enter discount">
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-sm-6">
												<div class="mb-3">
													<label class="form-label">딜러 추가 할인 비율</label>
													<div class="input-group mb-3">
														<span class="input-group-text">%</span>
														<input 
														name="eventDealerD"
														type="number" 
														id="eventDealerDiscount"
														class="form-control"
														placeholder="Enter discount">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title mb-2">제품 스펙 이미지 및 첨부파일</h5>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="card-body">
												<div>
													<label class="form-label">제품 스펙 이미지</label>
													<input 
													type="file" 
													class="form-control"
													id="specImage"
													name="specImage"
													accept="image/*"
													>
												</div>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="card-body">
												<div>
													<label class="form-label">제품 첨부파일</label>
													<input 
													type="file" 
													class="form-control" 
													id="addedFiles"
													name="addedFiles"
													multiple
													>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text-end mb-3">
									<button type="button" id="productAddBtn" class="btn btn-success w-sm">제품 등록</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<th:block th:replace="fragments/administration/common :: footerSrc"></th:block>
		</div>
	</div>


	<th:block th:replace="fragments/administration/common :: themeSrc"></th:block>

	<th:block th:replace="fragments/administration/common :: scriptSrc"></th:block>
	<script src="/administration/assets/js/addProduct.js"></script>
</body>

</html>