<!doctype html>
<html lang="ko" data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none"
	data-preloader="disable" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/administration/common :: headSrc">

</head>

<body>

	<div id="layout-wrapper">

		<header id="page-topbar" th:replace="fragments/administration/common :: headerMenu">

		</header>

		<div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true"
			th:replace="fragments/administration/common :: removeModal">
		</div>

		<div class="app-menu navbar-menu" th:replace="fragments/administration/common :: navMenu">
		</div>

		<div class="vertical-overlay"></div>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">Products</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
										<li class="breadcrumb-item active">본사제품관리페이지</li>
									</ol>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xl-3 col-lg-3">
							<div class="card">
								<!--<div class="card-header">
									<div class="d-flex mb-3">
										<div class="flex-grow-1">
											<h5 class="fs-16">제품브랜드 검색</h5>
										</div>
										<div class="flex-shrink-0">
											<a href="#" class="text-decoration-underline" id="clearall">ClearAll</a>
										</div>
									</div>

									<div class="filter-choices-input">
										<input class="form-control" data-choices data-choices-removeItem type="text"
											id="filter-choices-input" value="나이키" />
									</div>
								</div>-->

								<div class="accordion accordion-flush filter-accordion">

									<div class="card-body border-bottom">
										<div class="live-preview">
											<div class="row">
												<div class="col-lg-12">
													<select 
													class="form-select mb-3"
													aria-label="Default select example"
													id="bigSort">
														<option
														th:if="${bigSortId} == 0"
														th:selected="${bigSortId} == 0" 
														value="0">== 대분류를 선택해 주세요 == </option>
														<option 
														th:each="b:${bigSorts}" 
														th:value="${b.id}"
														th:text="${b.name}" 
														th:selected="${b.id} == ${bigSortId}"
														></option>
													</select>
												</div>
												<div class="col-lg-12">
													<select 
													class="form-select mb-3" 
													aria-label="Disabled select example"
													id="middleSort"
														>
														<option
														th:if="${middleSortId} == 0"
														th:selected="${middleSortId} == 0" 
														value="0">대분류를 먼저 선택 해 주세요.</option>
														<option 
														th:if="${middleSortId} != 0"
														th:each="m:${middleSorts}"
														th:value="${m.id}"
														th:text="${m.name}"
														th:selected="${m.id} == ${middleSortId}"></option>
													</select>
												</div>
												<div class="col-lg-12">
													<select 
													class="form-select mb-3" 
													aria-label="Disabled select example"
													id="smallSort"
													>
														<option
														th:if="${smallSortId} == 0"
														th:selected="${smallSortId} == 0" 
														value="0">중분류를 먼저 선택 해 주세요.</option>
														<option 
														th:if="${smallSortId} != 0"
														th:each="s:${smallSorts}"
														th:value="${s.id}"
														th:text="${s.name}"
														th:selected="${s.id} == ${smallSortId}"></option>
													</select>
												</div>
											</div>
										</div>

									</div>

									<div class="accordion-item">
										<h2 class="accordion-header" id="flush-headingPrice">
											<button 
											class="accordion-button bg-transparent shadow-none" 
											type="button"
											data-bs-toggle="collapse" 
											data-bs-target="#flush-collapsePrice"
											aria-expanded="true" 
											aria-controls="flush-collapseBrands">
												<span class="text-muted text-uppercase fs-13 fw-medium">금액 범위 검색</span>
												<span
													class="badge bg-success rounded-pill align-middle ms-1 filter-badge"></span>
											</button>
										</h2>

										<div 
											th:classappend="${minCost != null or maxCost != null} ? 'show' : ''"
											id="flush-collapsePrice" 
											class="accordion-collapse collapse"
											aria-labelledby="flush-headingBrands">
											<div class="accordion-body text-body pt-0">
												<div class="d-flex flex-column gap-2 mt-3 filter-check">
													<input 
														class="form-control form-control-sm" 
														type="number" 
														th:attr="value=${minCost == 0} ? '' : ${minCost}"
														placeholder="최소가격"
														id="minCost"
														/> 
													<span class="fw-semibold text-muted">to</span> 
													<input
														class="form-control form-control-sm" 
														type="number" 
														th:attr="value=${maxCost == 0} ? '' : ${maxCost}"
														placeholder="최대가격"
														id="maxCost"
														/>
												</div>
											</div>
										</div>
									</div>
									
									<div class="accordion-item">
										<h2 class="accordion-header" id="flush-headingBrands">
											<button 
											class="accordion-button bg-transparent shadow-none" 
											type="button"
											data-bs-toggle="collapse" 
											data-bs-target="#flush-collapseBrands"
											aria-expanded="true" 
											aria-controls="flush-collapseBrands">
												<span class="text-muted text-uppercase fs-13 fw-medium">제품 분류검색</span>
												<span
													class="badge bg-success rounded-pill align-middle ms-1 filter-badge"></span>
											</button>
										</h2>

										<div 
										th:classappend="${productSort != null} ? 'show' : ''"
										id="flush-collapseBrands" 
										class="accordion-collapse collapse"
										aria-labelledby="flush-headingBrands">
											<div class="accordion-body text-body pt-0">
												<div class="d-flex flex-column gap-2 mt-3 filter-check">
													<div class="form-check">
														<input 
														class="form-check-input" 
														type="radio" 
														value="all"
														name="productSort"
														id="allProduct"
														th:checked="${productSort == 'all'}"
														>
														<label 
														class="form-check-label"
														for="allProduct">전체제품</label>
													</div>
													<div class="form-check">
														<input 
														class="form-check-input" 
														type="radio" 
														value="normal"
														name="productSort"
														id="normalProduct"
														th:checked="${productSort == 'normal'}"
														>
														<label 
														class="form-check-label"
														for="normalProduct">일반제품</label>
													</div>
													<div class="form-check">
														<input 
														class="form-check-input" 
														type="radio" 
														value="event"
														name="productSort"
														id="eventProduct"
														th:checked="${productSort == 'event'}"
														>
														<label 
														class="form-check-label"
														for="eventProduct">이벤트제품</label>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="accordion-item">
										<h2 class="accordion-header" id="flush-headingDiscount">
											<button class="accordion-button bg-transparent shadow-none collapsed"
												type="button" data-bs-toggle="collapse"
												data-bs-target="#flush-collapseDiscount" aria-expanded="true"
												aria-controls="flush-collapseDiscount">
												<span class="text-muted text-uppercase fs-13 fw-medium">할인제품조회</span>
												<span
													class="badge bg-success rounded-pill align-middle ms-1 filter-badge"></span>
											</button>
										</h2>
										<div 
										th:classappend="${productDiscount != null} ? 'show' : ''"
										id="flush-collapseDiscount"
										class="accordion-collapse collapse"
										aria-labelledby="flush-headingDiscount">
											<div class="accordion-body text-body pt-1">
												<div class="d-flex flex-column gap-2 filter-check">
													<div class="form-check">
														<input 
														class="form-check-input" 
														type="radio"
														name="productDiscount"
														th:checked="${productDiscount == 'all'}"
														value="all"
														id="allProductDiscount">
														<label class="form-check-label" 
														for="allProductDiscount">할인가격 있음</label>
													</div>
													<div class="form-check">
														<input 
														class="form-check-input" 
														type="radio"
														name="productDiscount"
														th:checked="${productDiscount == 'yes'}"
														value="yes"
														id="yesProductDiscount">
														<label class="form-check-label" for="yesProductDiscount">할인가격 있음</label>
													</div>
													<div class="form-check">
														<input 
														class="form-check-input" 
														type="radio"
														name="productDiscount"
														value="no" 
														th:checked="${productDiscount == 'no'}"
														id="noProductDiscount">
														<label class="form-check-label" for="noProductDiscount">할인가격 없음</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="flush-headingSelling">
											<button 
											class="accordion-button bg-transparent shadow-none collapsed"
											type="button" 
											data-bs-toggle="collapse"
											data-bs-target="#flush-collapseSelling" 
											aria-expanded="true"
											aria-controls="flush-collapseSelling">
												<span class="text-muted text-uppercase fs-13 fw-medium">판매제품 조회</span>
												<span
													class="badge bg-success rounded-pill align-middle ms-1 filter-badge"></span>
											</button>
										</h2>
										<div 
										th:classappend="${sellingResult != null} ? 'show' : ''"
										id="flush-collapseSelling" 
										class="accordion-collapse collapse"
										aria-labelledby="flush-headingDiscount">
											<div class="accordion-body text-body pt-1">
												<div class="d-flex flex-column gap-2 filter-check">
													<div class="form-check">
														<input 
														class="form-check-input" 
														type="radio"
														name="sellingResult"
														value="all" 
														th:checked="${sellingResult == 'all'}"
														id="allSellingResult">
														<label class="form-check-label" for="allSellingResult">판매실적 있음</label>
													</div>
													<div class="form-check">
														<input 
														class="form-check-input" 
														type="radio"
														name="sellingResult"
														value="yes" 
														th:checked="${sellingResult == 'yes'}"
														id="yesSellingResult">
														<label class="form-check-label" for="yesSellingResult">판매실적 있음</label>
													</div>
													<div class="form-check">
														<input 
														class="form-check-input" 
														type="radio"
														name="sellingResult"
														value="no" 
														th:checked="${sellingResult == 'no'}"
														id="noSellingResult">
														<label class="form-check-label" for="noSellingResult">판매실적 없음</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-9 col-lg-9">
							<div class="row g-4 mb-3">
								<div class="col-sm gap-2" style="padding-left:0px;display:flex;">
									<div class="d-flex justify-content-sm-start gap-2">
										<div class="search-box">
											<input 
											style="min-width:300px;" 
											type="text" 
											id="searchWord"
											th:value="${searchWord}"
											class="form-control" 
											placeholder="검색어를 입력 해 주세요.">
											<i class="ri-search-line search-icon"></i>
										</div>
										<select 
										class="form-control" 
										id="pageSize">
											<option th:value="10" th:selected="${products.pageable.pageSize}=='10'">10개씩 보기</option>
											<option th:value="30" th:selected="${products.pageable.pageSize}=='30'">30개씩 보기</option>
											<option th:value="50" th:selected="${products.pageable.pageSize}=='50'">50개씩 보기</option>
											<option th:value="100" th:selected="${products.pageable.pageSize}=='100'">100개씩 보기</option>
										</select>
									</div>
									<div class="d-flex justify-content-sm-start gap-2">

										<button 
										id="productSearchBtn"
										class="btn btn-warning"><i class="bx bx-search-alt-2"></i> 제품검색</button>
										<a href="/admin/ibioProductManager" class="btn btn-danger"><i class="bx bx-refresh"></i> 검색조건초기화</a>
										<a href="/admin/ibioProductManagerInsert" class="btn btn-success"><i
												class="ri-add-line align-bottom me-1"></i> 제품등록</a>
									</div>
								</div>
								
							</div>

							<div class="row card">
								<div class="table-responsive">
									<table class="table align-middle mb-0">
										<thead class="table-light">
											<tr>
												<th scope="col">제품코드</th>
												<th scope="col">제품분류</th>
												<th scope="col">제품명</th>
												<th scope="col">대표이미지</th>
												<th scope="col"><a href="">판매량</a></th>
												<th scope="col"><a href="">조회수</a></th>
												<th scope="col"><a href="">소비자가격</a></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="p:${products}">
												<td><a th:href="@{|/admin/ibioProductManagerDetail/${p.id}|}" 
												class="fw-semibold" th:text="${p.productCode}">#VZ2110</a></td>
												<td>[[${p.bigSort.name}]]/[[${p.middleSort.name}]]/[[${p.smallSort.name}]]</td>
												<td class="text-success">
													<a th:href="@{|/admin/ibioProductManagerDetail/${p.id}|}" class="fw-semibold">[[${p.productTitle}]]</a>
												</td>
												<td>
													<div class="d-flex gap-2 align-items-center">
														<div class="flex-shrink-0">
															<img th:src="@{${p.productImageRoad}}"alt="productImage" class="avatar-xs" />
														</div>
													</div>
												</td>
												<td>[[${p.productSell}]]회</td>
												<td>[[${p.productClicks}]]회</td>
												<td>[[${p.productPrice}]]원</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>



							<div class="row g-0 text-center text-sm-start align-items-center mb-4">
								<div class="col-sm-6">
									<ul class="pagination justify-content-center">
										<li class="page-item"
											th:classappend="${1 == products.pageable.pageNumber+1} ? 'disabled'">
											<a class="page-link" href="#"
											th:href="@{/admin/ibioProductManager(page=0, searchWord=${searchWord}, size=${param.size}, bigId=${bigId}, middleId=${middleId}, 
											smallId=${smallId}, minCost=${minCost}, maxCost=${maxCost}, productSort=${productSort}, productDiscount=${productDiscount}, sellingResult=${sellingResult})}"
											tabindex="-1" aria-disabled="true">First</a>
										</li>
										<li class="page-item"
											th:classappend="${1 == products.pageable.pageNumber+1} ? 'disabled'">
											<a class="page-link" href="#"
											th:href="@{/admin/ibioProductManager(page=${products.pageable.pageNumber - 1}, searchWord=${searchWord}, size=${param.size}, bigId=${bigId}, middleId=${middleId}, 
											smallId=${smallId}, minCost=${minCost}, maxCost=${maxCost}, productSort=${productSort}, productDiscount=${productDiscount}, sellingResult=${sellingResult})}"
											tabindex="-1" aria-disabled="true">Previous</a>
										</li>
										<li class="page-item"
											th:classappend="${i == products.pageable.pageNumber+1} ? 'disabled'"
											th:each="i : ${#numbers.sequence(startPage, endPage)}">
											<a	class="page-link" href="#" th:text=${i}
											th:href="@{/admin/ibioProductManager(page=${i-1}, searchWord=${searchWord}, size=${param.size}, bigId=${bigId}, middleId=${middleId}, 
											smallId=${smallId}, minCost=${minCost}, maxCost=${maxCost}, productSort=${productSort}, productDiscount=${productDiscount}, sellingResult=${sellingResult})}">1</a>
										</li>
										<li class="page-item"
											th:classappend="${products.totalPages == products.pageable.pageNumber + 1} ? 'disabled'">
											<a class="page-link" href="#"
											th:href="@{/admin/ibioProductManager(page=${products.pageable.pageNumber + 1}, searchWord=${searchWord}, size=${param.size}, bigId=${bigId}, middleId=${middleId}, 
											smallId=${smallId}, minCost=${minCost}, maxCost=${maxCost}, productSort=${productSort}, productDiscount=${productDiscount}, sellingResult=${sellingResult})}">Next</a>
										</li>
										<li class="page-item"
											th:classappend="${products.totalPages == products.pageable.pageNumber + 1} ? 'disabled'">
											<a class="page-link" href="#"
											th:href="@{/admin/ibioProductManager(page=${products.totalPages-1}, searchWord=${searchWord}, size=${param.size}, bigId=${bigId}, middleId=${middleId}, 
											smallId=${smallId}, minCost=${minCost}, maxCost=${maxCost}, productSort=${productSort}, productDiscount=${productDiscount}, sellingResult=${sellingResult})}">Last</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:replace="fragments/administration/common :: footerSrc"></th:block>
		</div>
	</div>


	<th:block th:replace="fragments/administration/common :: themeSrc"></th:block>
	<th:block th:replace="fragments/administration/common :: scriptSrc"></th:block>
	<script src="/administration/assets/js/ibioProductManager.js"></script>
</body>
</html>