<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc">
</head>

<body class="res layout-1 layout-subpage">

	<div id="wrapper" class="wrapper-fluid banners-effect-5">
		<header id="header" class=" typeheader-1" th:replace="fragments/front/common :: headerMenu"></header>

		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">결제페이지</a></li>

			</ul>

			<div class="row">

				<div id="content" class="col-sm-12">
					<div class="producttab ">
						<div class="tabsslider  vertical-tabs col-xs-12">
							<ul class="nav nav-tabs col-lg-2 col-sm-3">
								<!--<li class="item_nonactive"><a data-toggle="tab" href="#tab-1">신용카드결제</a></li>
								<li class="item_nonactive"><a data-toggle="tab" href="#tab-review">연구비카드결제</a></li>-->
								<li class="active"><a data-toggle="tab" href="#tab-4">계좌이체</a></li>
							</ul>
							<div class="tab-content col-lg-10 col-sm-9 col-xs-12">
								<div id="tab-4" class="tab-pane fade active in">
									<form>
										<div class="so-onepagecheckout row">
											<div class="col-left col-sm-3">
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title"><i class="fa fa-user"></i> 개인정보</h4>
													</div>
													<div class="panel-body">
														<fieldset id="account">
															<div class="form-group required">
																<label for="input-payment-firstname"
																	class="control-label">이름</label>
																<input 
																type="text" 
																class="form-control" 
																readonly
																th:value="${user.name}" 
																name="firstname">
															</div>
															<div class="form-group required">
																<label for="input-payment-email"
																	class="control-label">이메일</label>
																<input 
																type="text" 
																class="form-control"
																readonly
																th:value="${user.email}"
																name="email">
															</div>
															<div class="form-group required">
																<label for="input-payment-telephone"
																	class="control-label">연락처</label>
																<input 
																type="text" 
																class="form-control"
																readonly
																th:value="${user.phone}" 
																name="phone">
															</div>
															<div class="form-group">
																<label for="input-payment-telephone"
																	class="control-label">업체명</label>
																<input 
																type="text" 
																class="form-control"
																readonly
																th:value="${user.business}" 
																name="business">
															</div>
															<div class="form-group">
																<label for="input-payment-telephone"
																	class="control-label">세금계산서 발행 정보</label>
																<input 
																type="text" 
																class="form-control"
																placeholder="세금계산서 발행 정보" 
																>
															</div>
															<div class="form-group">
																<label for="input-payment-telephone"
																	class="control-label">현금영수증 발행 정보</label>
																<input 
																type="text" 
																class="form-control"
																placeholder="현금영수증 발행 정보" 
																>
															</div>
														</fieldset>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading">
														<h4 class="panel-title"><i class="fa fa-book"></i> 주소정보</h4>
													</div>
													<div class="panel-body">
														<fieldset id="address" class="required">
															<div class="form-group required">
																<label for="input-payment-company"
																	class="control-label">주소</label>
																<input 
																type="text" 
																class="form-control"
																th:value="${user.address}" 
																name="address">
															</div>
															<div class="form-group required">
																<label for="input-payment-address-1"
																	class="control-label">우편번호</label>
																<input 
																type="text" 
																class="form-control"
																th:value="${user.postal}"
																name="postal">
															</div>
														</fieldset>
													</div>
												</div>
											</div>
											<div class="col-right col-sm-9">
												<div class="row">
	
													<div class="col-sm-12">
														<div class="panel panel-default">
															<div class="panel-heading">
																<h4 class="panel-title"><i class="fa fa-ticket"></i> 쿠폰을 보유하고 계신가요?</h4>
															</div>
															<div class="panel-body row">
																<div class="col-sm-12 ">
																	<div class="input-group">
																		<input 
																		type="text" 
																		class="form-control"
																		placeholder="쿠폰번호 입력 후 적용 버튼을 클릭 해 주셔야 정상적으로 적용 됩니다."
																		name="coupon">
																		<span class="input-group-btn">
																			<input 
																			type="button" 
																			class="btn btn-primary"
																			data-loading-text="Loading..."
																			value="쿠폰적용">
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
	
													<div class="col-sm-12">
														<div class="panel panel-default">
															<div class="panel-heading">
																<h4 class="panel-title"><i class="fa fa-shopping-cart"></i>
																	구매제품 리스트
																</h4>
															</div>
															<div class="panel-body">
																<div class="table-responsive">
																	<table class="table table-bordered">
																		<thead>
																			<tr>
																				<td class="text-center">대표이미지</td>
																                <td class="text-left">제품명</td>
																                <td class="text-left">제품코드</td>
																                <td class="text-left">수량</td>
																                <td class="text-right">제품가격</td>
																                <td class="text-right">총가격</td>
																			</tr>
																		</thead>
																		<tbody id="cartItems">
													                        <tr th:each="product, iterStat : ${products}">
													                            <td class="text-center">
													                                <a th:href="@{/productDetail/{id}(id=${product.id})}">
													                                    <img th:src="@{${product.productImagePath}}" width="70px" th:alt="${product.productTitle}" th:title="${product.productTitle}" class="img-thumbnail"/>
													                                </a>
													                            </td>
													                            <td class="text-left">
													                                <a th:href="@{/productDetail/{id}(id=${product.id})}" th:text="${product.productTitle}"></a>
													                            </td>
													                            <td class="text-left" th:text="${product.productCode}"></td>
													                            <td class="text-left" width="200px">
													                                <div class="input-group btn-block quantity">
													                                    <input type="text" name="quantity" th:value="${quantities[product.id]}" size="1" class="form-control" th:id="'quantity-' + ${product.id}"/>
													                                    <span class="input-group-btn">
													                                        <button type="button" data-toggle="tooltip" title="Update" class="btn btn-primary" th:attr="onclick='updateQuantity(' + ${product.id} + ', true)'">
													                                            <i class="fa fa-clone"></i>
													                                        </button>
													                                        <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger" th:attr="onclick='confirmRemoveProduct(' + ${product.id} + ', true)'">
													                                            <i class="fa fa-times-circle"></i>
													                                        </button>
													                                    </span>
													                                </div>
													                            </td>
													                            <td class="text-right" th:text="${product.productPrice} + ' 원'" th:id="'price-' + ${product.id}" data-price="${product.productPrice}"></td>
													                            <td class="text-right" th:text="${product.productPrice * quantities[product.id]} + ' 원'" th:id="'total-' + ${product.id}"></td>
													                        </tr>
													                    </tbody>
													                    <tfoot>
													                        <tr>
													                            <td class="text-right" colspan="4">
													                                <strong>총 금액:</strong>
													                            </td>
													                            <td class="text-right" th:text="${totalPrice} + ' 원'"></td>
													                        </tr>
													                        <tr>
													                            <td class="text-right" colspan="4">
													                                <strong>부가세(10%):</strong>
													                            </td>
													                            <td class="text-right" th:text="'+' + ${taxPrice} + ' 원'"></td>
													                        </tr>
													                        <tr>
													                            <td class="text-right" colspan="4">
													                                <strong>최종 금액:</strong>
													                            </td>
													                            <td class="text-right" th:text="${finalPrice} + ' 원'"></td>
													                        </tr>
													                    </tfoot>
																	</table>
																</div>
															</div>
														</div>
													</div>
													<div class="col-sm-12">
														<div class="panel panel-default">
															<div class="panel-heading">
																<h4 class="panel-title"><i class="fa fa-pencil"></i> 전하실 메시지가 있으신 경우 입력 해 주세요.</h4>
															</div>
															<div class="panel-body">
																<textarea rows="4" 
																class="form-control" 
																name="comments"></textarea>
																<br>
																<label class="control-label" for="confirm_agree">
																	<input type="checkbox" checked="checked" value="1"
																		required="" class="validate required"
																		id="confirm_agree" name="confirm agree">
																	<span>체크시 IBIO <a href="#" class="agree"><b>개인정보 처리방침</b></a> 및 <a href="#" class="agree"><b>쇼핑몰 이용약관</b></a>에 동의한 것으로 간주됩니다.</span> </label>
																<div class="buttons">
																	<div class="pull-right">
																		<input type="button" class="btn btn-primary"
																			id="button-confirm" value="Confirm Order">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
								<!--<div id="tab-review" class="tab-pane fade">
									<div class="so-onepagecheckout row">
										<div class="col-left col-sm-3">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><i class="fa fa-user"></i> Your Personal
														Details</h4>
												</div>
												<div class="panel-body">
													<fieldset id="account">
														<div class="form-group required">
															<label for="input-payment-firstname"
																class="control-label">First
																Name</label>
															<input type="text" class="form-control"
																id="input-payment-firstname" placeholder="First Name"
																value="" name="firstname">
														</div>
														<div class="form-group required">
															<label for="input-payment-lastname"
																class="control-label">Last Name</label>
															<input type="text" class="form-control"
																id="input-payment-lastname" placeholder="Last Name"
																value="" name="lastname">
														</div>
														<div class="form-group required">
															<label for="input-payment-email"
																class="control-label">E-Mail</label>
															<input type="text" class="form-control"
																id="input-payment-email" placeholder="E-Mail" value=""
																name="email">
														</div>
														<div class="form-group required">
															<label for="input-payment-telephone"
																class="control-label">Telephone</label>
															<input type="text" class="form-control"
																id="input-payment-telephone" placeholder="Telephone"
																value="" name="telephone">
														</div>
													</fieldset>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><i class="fa fa-book"></i> Your Address</h4>
												</div>
												<div class="panel-body">
													<fieldset id="address" class="required">
														<div class="form-group">
															<label for="input-payment-company"
																class="control-label">Company</label>
															<input type="text" class="form-control"
																id="input-payment-company" placeholder="Company"
																value="" name="company">
														</div>
														<div class="form-group required">
															<label for="input-payment-address-1"
																class="control-label">Address 1</label>
															<input type="text" class="form-control"
																id="input-payment-address-1" placeholder="Address 1"
																value="" name="address_1">
														</div>
														<div class="form-group">
															<label for="input-payment-address-2"
																class="control-label">Address 2</label>
															<input type="text" class="form-control"
																id="input-payment-address-2" placeholder="Address 2"
																value="" name="address_2">
														</div>
														<div class="form-group required">
															<label for="input-payment-city"
																class="control-label">City</label>
															<input type="text" class="form-control"
																id="input-payment-city" placeholder="City" value=""
																name="city">
														</div>
														<div class="form-group required">
															<label for="input-payment-postcode"
																class="control-label">Post Code</label>
															<input type="text" class="form-control"
																id="input-payment-postcode" placeholder="Post Code"
																value="" name="postcode">
														</div>
														<div class="checkbox">
															<label>
																<input type="checkbox" checked="checked" value="1"
																	name="shipping_address">
																My delivery and billing addresses are the same.</label>
														</div>
													</fieldset>
												</div>
											</div>
										</div>
										<div class="col-right col-sm-9">
											<div class="row">

												<div class="col-sm-12">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h4 class="panel-title"><i class="fa fa-ticket"></i> 쿠폰을 보유하고 계십니까?</h4>
														</div>
														<div class="panel-body row">
															<div class="col-sm-12 ">
																<div class="input-group">
																	<input type="text" class="form-control"
																		id="input-coupon"
																		placeholder="Enter your coupon here" value=""
																		name="coupon">
																	<span class="input-group-btn">
																		<input type="button" class="btn btn-primary"
																			data-loading-text="Loading..."
																			id="button-coupon" value="Apply Coupon">
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-sm-12">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h4 class="panel-title"><i class="fa fa-shopping-cart"></i>
																Shopping cart
															</h4>
														</div>
														<div class="panel-body">
															<div class="table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<td class="text-center">Image</td>
																			<td class="text-left">Product Name</td>
																			<td class="text-left">Quantity</td>
																			<td class="text-right">Unit Price</td>
																			<td class="text-right">Total</td>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td class="text-center"><a
																					href="product.html"><img
																						width="60px"
																						src="/front/image/catalog/demo/product/fashion/10.jpg"
																						alt="Xitefun Causal Wear Fancy Shoes"
																						title="Xitefun Causal Wear Fancy Shoes"
																						class="img-thumbnail"></a></td>
																			<td class="text-left"><a
																					href="product.html">Emasa rumas
																					gacem</a></td>
																			<td class="text-left">
																				<div class="input-group btn-block"
																					style="min-width: 100px;">
																					<input type="text" name="quantity"
																						value="1" size="1"
																						class="form-control">
																					<span class="input-group-btn">
																						<button type="submit"
																							data-toggle="tooltip"
																							title="Update"
																							class="btn btn-primary"><i
																								class="fa fa-refresh"></i></button>
																						<button type="button"
																							data-toggle="tooltip"
																							title="Remove"
																							class="btn btn-danger"
																							onClick=""><i
																								class="fa fa-times-circle"></i></button>
																					</span>
																				</div>
																			</td>
																			<td class="text-right">$114.35</td>
																			<td class="text-right">$114.35</td>
																		</tr>
																	</tbody>
																	<tfoot>
																		<tr>
																			<td class="text-right" colspan="4">
																				<strong>Sub-Total:</strong>
																			</td>
																			<td class="text-right">$93.73</td>
																		</tr>
																		<tr>
																			<td class="text-right" colspan="4">
																				<strong>Flat Shipping
																					Rate:</strong></td>
																			<td class="text-right">$4.69.00</td>
																		</tr>
																		<tr>
																			<td class="text-right" colspan="4">
																				<strong>Eco Tax
																					(-2.00):</strong></td>
																			<td class="text-right">$3.75.00</td>
																		</tr>
																		<tr>
																			<td class="text-right" colspan="4">
																				<strong>VAT
																					(20%):</strong></td>
																			<td class="text-right">$19.68</td>
																		</tr>
																		<tr>
																			<td class="text-right" colspan="4">
																				<strong>Total:</strong>
																			</td>
																			<td class="text-right">$121.85</td>
																		</tr>
																	</tfoot>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h4 class="panel-title"><i class="fa fa-pencil"></i> Add
																Comments About Your
																Order</h4>
														</div>
														<div class="panel-body">
															<textarea rows="4" class="form-control" id="confirm_comment"
																name="comments"></textarea>
															<br>
															<label class="control-label" for="confirm_agree">
																<input type="checkbox" checked="checked" value="1"
																	required="" class="validate required"
																	id="confirm_agree" name="confirm agree">
																<span>I have read and agree to the <a class="agree"
																		href="#"><b>Terms
																			&amp; Conditions</b></a></span> </label>
															<div class="buttons">
																<div class="pull-right">
																	<input type="button" class="btn btn-primary"
																		id="button-confirm" value="Confirm Order">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="tab-4" class="tab-pane fade">
									<div class="so-onepagecheckout row">
										<div class="col-left col-sm-3">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><i class="fa fa-user"></i> Your Personal
														Details</h4>
												</div>
												<div class="panel-body">
													<fieldset id="account">
														<div class="form-group required">
															<label for="input-payment-firstname"
																class="control-label">First
																Name</label>
															<input type="text" class="form-control"
																id="input-payment-firstname" placeholder="First Name"
																value="" name="firstname">
														</div>
														<div class="form-group required">
															<label for="input-payment-lastname"
																class="control-label">Last Name</label>
															<input type="text" class="form-control"
																id="input-payment-lastname" placeholder="Last Name"
																value="" name="lastname">
														</div>
														<div class="form-group required">
															<label for="input-payment-email"
																class="control-label">E-Mail</label>
															<input type="text" class="form-control"
																id="input-payment-email" placeholder="E-Mail" value=""
																name="email">
														</div>
														<div class="form-group required">
															<label for="input-payment-telephone"
																class="control-label">Telephone</label>
															<input type="text" class="form-control"
																id="input-payment-telephone" placeholder="Telephone"
																value="" name="telephone">
														</div>
													</fieldset>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title"><i class="fa fa-book"></i> Your Address</h4>
												</div>
												<div class="panel-body">
													<fieldset id="address" class="required">
														<div class="form-group">
															<label for="input-payment-company"
																class="control-label">Company</label>
															<input type="text" class="form-control"
																id="input-payment-company" placeholder="Company"
																value="" name="company">
														</div>
														<div class="form-group required">
															<label for="input-payment-address-1"
																class="control-label">Address 1</label>
															<input type="text" class="form-control"
																id="input-payment-address-1" placeholder="Address 1"
																value="" name="address_1">
														</div>
														<div class="form-group">
															<label for="input-payment-address-2"
																class="control-label">Address 2</label>
															<input type="text" class="form-control"
																id="input-payment-address-2" placeholder="Address 2"
																value="" name="address_2">
														</div>
														<div class="form-group required">
															<label for="input-payment-city"
																class="control-label">City</label>
															<input type="text" class="form-control"
																id="input-payment-city" placeholder="City" value=""
																name="city">
														</div>
														<div class="form-group required">
															<label for="input-payment-postcode"
																class="control-label">Post Code</label>
															<input type="text" class="form-control"
																id="input-payment-postcode" placeholder="Post Code"
																value="" name="postcode">
														</div>
														<div class="checkbox">
															<label>
																<input type="checkbox" checked="checked" value="1"
																	name="shipping_address">
																My delivery and billing addresses are the same.</label>
														</div>
													</fieldset>
												</div>
											</div>
										</div>
										<div class="col-right col-sm-9">
											<div class="row">

												<div class="col-sm-12">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h4 class="panel-title"><i class="fa fa-ticket"></i> 쿠폰을 보유하고 계십니까?</h4>
														</div>
														<div class="panel-body row">
															<div class="col-sm-12 ">
																<div class="input-group">
																	<input type="text" class="form-control"
																		id="input-coupon"
																		placeholder="Enter your coupon here" value=""
																		name="coupon">
																	<span class="input-group-btn">
																		<input type="button" class="btn btn-primary"
																			data-loading-text="Loading..."
																			id="button-coupon" value="Apply Coupon">
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-sm-12">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h4 class="panel-title"><i class="fa fa-shopping-cart"></i>
																Shopping cart
															</h4>
														</div>
														<div class="panel-body">
															<div class="table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<td class="text-center">Image</td>
																			<td class="text-left">Product Name</td>
																			<td class="text-left">Quantity</td>
																			<td class="text-right">Unit Price</td>
																			<td class="text-right">Total</td>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td class="text-center"><a
																					href="product.html"><img
																						width="60px"
																						src="/front/image/catalog/demo/product/fashion/10.jpg"
																						alt="Xitefun Causal Wear Fancy Shoes"
																						title="Xitefun Causal Wear Fancy Shoes"
																						class="img-thumbnail"></a></td>
																			<td class="text-left"><a
																					href="product.html">Emasa rumas
																					gacem</a></td>
																			<td class="text-left">
																				<div class="input-group btn-block"
																					style="min-width: 100px;">
																					<input type="text" name="quantity"
																						value="1" size="1"
																						class="form-control">
																					<span class="input-group-btn">
																						<button type="submit"
																							data-toggle="tooltip"
																							title="Update"
																							class="btn btn-primary"><i
																								class="fa fa-refresh"></i></button>
																						<button type="button"
																							data-toggle="tooltip"
																							title="Remove"
																							class="btn btn-danger"
																							onClick=""><i
																								class="fa fa-times-circle"></i></button>
																					</span>
																				</div>
																			</td>
																			<td class="text-right">$114.35</td>
																			<td class="text-right">$114.35</td>
																		</tr>
																	</tbody>
																	<tfoot>
																		<tr>
																			<td class="text-right" colspan="4">
																				<strong>Sub-Total:</strong>
																			</td>
																			<td class="text-right">$93.73</td>
																		</tr>
																		<tr>
																			<td class="text-right" colspan="4">
																				<strong>Flat Shipping
																					Rate:</strong></td>
																			<td class="text-right">$4.69.00</td>
																		</tr>
																		<tr>
																			<td class="text-right" colspan="4">
																				<strong>Eco Tax
																					(-2.00):</strong></td>
																			<td class="text-right">$3.75.00</td>
																		</tr>
																		<tr>
																			<td class="text-right" colspan="4">
																				<strong>VAT
																					(20%):</strong></td>
																			<td class="text-right">$19.68</td>
																		</tr>
																		<tr>
																			<td class="text-right" colspan="4">
																				<strong>Total:</strong>
																			</td>
																			<td class="text-right">$121.85</td>
																		</tr>
																	</tfoot>
																</table>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="panel panel-default">
														<div class="panel-heading">
															<h4 class="panel-title"><i class="fa fa-pencil"></i> Add
																Comments About Your
																Order</h4>
														</div>
														<div class="panel-body">
															<textarea rows="4" class="form-control" id="confirm_comment"
																name="comments"></textarea>
															<br>
															<label class="control-label" for="confirm_agree">
																<input type="checkbox" checked="checked" value="1"
																	required="" class="validate required"
																	id="confirm_agree" name="confirm agree">
																<span>I have read and agree to the <a class="agree"
																		href="#"><b>Terms
																			&amp; Conditions</b></a></span> </label>
															<div class="buttons">
																<div class="pull-right">
																	<input type="button" class="btn btn-primary"
																		id="button-confirm" value="Confirm Order">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>-->
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: ibioFooter"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>

</body>

</html>