<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc">
</head>

<body class="res layout-1 layout-subpage">

	<div id="wrapper" class="wrapper-fluid banners-effect-5">
		<header id="header" class=" typeheader-1" th:replace="fragments/front/common :: headerMenu"></header>

		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">결제관리</a></li>
			</ul>

			<div class="row">
				<!--Middle Part Start-->
				<div id="content" class="col-sm-12">
					<h2 class="title">결제대기주문</h2>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td class="text-center">대표이미지</td>
									<td class="text-center">주문 ID</td>
									<td class="text-center">주문내역</td>
									<td class="text-center">상태</td>
									<td class="text-center">주문일</td>
									<td class="text-center">최종금액</td>
									<td class="text-center">비고</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="o:${order}">
									<td class="text-center">
										<a href="#">
											<img width="85" class="img-thumbnail" src="/front/image/catalog/demo/product/fashion/1.jpg">
										</a>
									</td>
									<td class="text-center" th:text="${o.orderId}">#214521</td>
									<td class="text-center">
								        <a href="#" th:utext="${#strings.replace(o.productNames, '\n', '<br>')}"></a>
								    </td>
									<td class="text-center">입금대기</td>
									<td class="text-center" th:text="${o.orderDate}"></td>
									<td class="text-center" th:text="${o.orderTotalPrice}"></td>
									<td class="text-center">
										<a class="btn btn-info" href="#">
											<i class="fa fa-eye"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="product-filter product-filter-top filters-panel hidden-sm hidden-xs">
						<div class="row" style="justify-content: center;display:flex;">
							<nav aria-label="navigation">
								<ul class="pagination justify-content-center">
									<li class="page-item"
										th:classappend="${1 == order.pageable.pageNumber+1} ? 'disabled'">
										<a class="page-link" href="#"
										th:href="@{/member/myPayment(page=0,
										size=${param.size})}"
										tabindex="-1" aria-disabled="true">First</a>
									</li>
									<li class="page-item"
										th:classappend="${1 == order.pageable.pageNumber+1} ? 'disabled'">
										<a class="page-link" href="#"
										th:href="@{/member/myPayment(page=${order.pageable.pageNumber - 1}, 
										size=${param.size})}"
										tabindex="-1" aria-disabled="true">Previous</a>
									</li>
									<li class="page-item"
										th:classappend="${i == order.pageable.pageNumber+1} ? 'disabled'"
										th:each="i : ${#numbers.sequence(startPage, endPage)}">
										<a	class="page-link" href="#" th:text=${i}
										th:href="@{/member/myPayment(page=${i-1}, 
										size=${param.size})}">1</a>
									</li>
									<li class="page-item"
										th:classappend="${order.totalPages == order.pageable.pageNumber + 1} ? 'disabled'">
										<a class="page-link" href="#"
										th:href="@{/member/myPayment(page=${order.pageable.pageNumber + 1}, 
										size=${param.size})}">Next</a>
									</li>
									<li class="page-item"
										th:classappend="${order.totalPages == order.pageable.pageNumber + 1} ? 'disabled'">
										<a class="page-link" href="#"
										th:href="@{/member/myPayment(page=${order.totalPages-1}, 
										size=${param.size})}">Last</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: ibioFooter"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>

</body>

</html>