<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc">
</head>

<body class="res layout-1 layout-subpage">

	<div id="wrapper" class="wrapper-fluid banners-effect-5">
		<header id="header" class=" typeheader-1" th:replace="fragments/front/common :: headerMenu"></header>

		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">장바구니 상세페이지</a></li>
			</ul>

			<div class="row">
				<!--Middle Part Start-->
				<div id="content" class="col-sm-12">
					<h2 class="title">장바구니</h2>
					<div class="table-responsive form-group">
					    <table class="table table-bordered">
					        <thead>
					            <tr>
					                <td class="text-center">대표이미지</td>
					                <td class="text-left">제품명</td>
					                <td class="text-left">제품코드</td>
					                <td class="text-left">수량</td>
					                <td class="text-right">제품가격</td>
					                <td class="text-right">총가격</td>
					            </tr>
					        </thead>
					        <tbody id="cartItems">
					            <tr th:each="product, iterStat : ${products}">
					                <td class="text-center">
					                    <a th:href="@{/productDetail/{id}(id=${product.id})}">
					                        <img th:src="@{${product.productImagePath}}" width="70px" th:alt="${product.productTitle}" th:title="${product.productTitle}" class="img-thumbnail"/>
					                    </a>
					                </td>
					                <td class="text-left">
					                    <a th:href="@{/productDetail/{id}(id=${product.id})}" th:text="${product.productTitle}"></a>
					                </td>
					                <td class="text-left" th:text="${product.productCode}"></td>
					                <td class="text-left" width="200px">
					                    <div class="input-group btn-block quantity">
					                        <input type="text" name="quantity" th:value="${quantities[product.id]}" size="1" class="form-control" th:id="'quantity-' + ${product.id}"/>
					                        <span class="input-group-btn">
					                            <button type="button" data-toggle="tooltip" title="Update" class="btn btn-primary" th:attr="onclick='updateQuantity(' + ${product.id} + ')'">
					                                <i class="fa fa-clone"></i>
					                            </button>
					                            <button type="button" data-toggle="tooltip" title="Remove" class="btn btn-danger" th:attr="onclick='removeProduct(' + ${product.id} + ')'">
					                                <i class="fa fa-times-circle"></i>
					                            </button>
					                        </span>
					                    </div>
					                </td>
					                <td class="text-right" th:text="${product.productPrice} + ' 원'" th:id="'price-' + ${product.id}" data-price="${product.productPrice}"></td>
					                <td class="text-right" th:text="${product.productPrice * quantities[product.id]} + ' 원'" th:id="'total-' + ${product.id}"></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
					<div class="row">
					    <div class="col-sm-4 col-sm-offset-8">
					        <table class="table table-bordered">
					            <tbody>
					                <tr>
					                    <td class="text-right"><strong>총 금액 :</strong></td>
					                    <td class="text-right" id="totalPrice">0 원</td>
					                </tr>
					                <tr>
					                    <td class="text-right"><strong>부가세 :</strong></td>
					                    <td class="text-right" id="taxPrice">0 원</td>
					                </tr>
					                <tr>
					                    <td class="text-right"><strong>최종 금액 :</strong></td>
					                    <td class="text-right" id="finalPrice">0 원</td>
					                </tr>
					            </tbody>
					        </table>
					    </div>
					</div>

					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse"
										data-parent="#accordion" aria-expanded="true">Use Coupon Code

										<i class="fa fa-caret-down"></i>
									</a>
								</h4>
							</div>
							<div id="collapse-coupon" class="panel-collapse collapse in" aria-expanded="true">
								<div class="panel-body">
									<label class="col-sm-2 control-label" for="input-coupon">Enter your coupon
										here</label>
									<div class="input-group">
										<input type="text" name="coupon" value="" placeholder="Enter your coupon here"
											id="input-coupon" class="form-control">
										<span class="input-group-btn"><input type="button" value="Apply Coupon"
												id="button-coupon" data-loading-text="Loading..."
												class="btn btn-primary"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a href="#collapse-voucher" data-toggle="collapse" data-parent="#accordion"
										class="accordion-toggle collapsed" aria-expanded="false">Use Gift Certificate

										<i class="fa fa-caret-down"></i>
									</a>
								</h4>
							</div>
							<div id="collapse-voucher" class="panel-collapse collapse" aria-expanded="false"
								style="height: 0px;">
								<div class="panel-body">
									<label class="col-sm-2 control-label" for="input-voucher">Enter your gift
										certificate code here</label>
									<div class="input-group">
										<input type="text" name="voucher" value=""
											placeholder="Enter your gift certificate code here" id="input-voucher"
											class="form-control">
										<span class="input-group-btn"><input type="submit"
												value="Apply Gift Certificate" id="button-voucher"
												data-loading-text="Loading..." class="btn btn-primary"></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="buttons">
						<div class="pull-left"><a href="index.html" class="btn btn-primary">Continue Shopping</a></div>
						<div class="pull-right"><a href="checkout.html" class="btn btn-primary">Checkout</a></div>
					</div>
				</div>

			</div>
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: ibioFooter"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
	<script src="/front/js/cart.js"></script>
</body>

</html>