<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc">
</head>

<body class="res layout-1 layout-subpage">

	<div id="wrapper" class="wrapper-fluid banners-effect-5">
		<header id="header" class=" typeheader-1" th:replace="fragments/front/common :: headerMenu"></header>

		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">Page</a></li>
				<li><a href="#">ABOUT IBIO</a></li>
			</ul>

			<div class="row">
				<div id="content" class="col-sm-12 item-article">
					<div class="row box-1-about">
						<div class="col-md-9 welcome-about-us">
							<div class="title-about-us">
								<h2>WELCOME TO IBIO</h2>
							</div>
							<div class="content-about-us">
								<div class="image-about-us">
									<img src="/front/image/catalog/about/about-us.jpg" alt="Image Client">
								</div>
								<div class="des-about-us">IBIO SHOP
									<br>
									<br>INFORMATIONs
									<br>
									<br>SECTION
								</div>
							</div>
						</div>
						<div class="col-md-3 why-choose-us">
							<div class="title-about-us">
								<h2>IBIO SHOP 장점</h2>
							</div>
							<div class="content-why">
								<ul class="why-list">
									<li><a title="Shipping &amp; Returns" href="#">무료배송 시스템</a>
									</li>
									<li><a title="Secure Shopping" href="#">안전하고 빠른 배송</a>
									</li>
									<li><a title="International Shipping" href="#">다양한 결제수단 제공</a>
									</li>
									<li><a title="Affiliates" href="#">이벤트를 통한 저렴한 가격</a>
									</li>
									<li><a title="Group Sales" href="#">딜러 SHOP</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-12 our-member">
							<div class="title-about-us">
								<h2>OUT PARTNERs</h2>
							</div>
							<div class="short-des">IBIO BRAND 파트너 소개 SECTIONs
							</div>
							<div class="overflow-owl-slider1">
								<div class="wrapper-owl-slider1">
									<div class="row slider-ourmember">
										<div class="item-about col-lg-6 col-md-6 col-sm-6">
											<div class="item respl-item">
												<div class="item-inner">
													<div class="w-image-box">
														<div class="item-image">
															<a title="Jennifer lawrence" href="#">
																<img src="/front/image/catalog/about/cl-image-1.jpg"
																	alt="Image Client">
															</a>
														</div>
													</div>
													<div class="info-member">
														<h2 class="cl-name"><a title="Jennifer lawrence"
																href="#">Jennifer lawrence</a></h2>
														<p class="cl-job">Art Director</p>
														<p class="cl-des">Donec dignissim, enim ac semper tempus, ligula
															neque pulvinar mi, sed facilisis arcu placerat consequat</p>
														<ul>
															<li>
																<a class="fa fa-f" title="Facebook" href="#"></a>
															</li>
															<li>
																<a class="fa fa-t" title="Twitter" href="#"></a>
															</li>
															<li>
																<a class="fa fa-g" title="google" href="#"></a>
															</li>
															<li>
																<a class="fa fa-s" title="skyper" href="#"></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="item-about col-lg-6 col-md-6 col-sm-6">
											<div class="item respl-item">
												<div class="item-inner">
													<div class="w-image-box">
														<div class="item-image">
															<a title="Jennifer lawrence" href="#">
																<img src="/front/image/catalog/about/cl-image-2.jpg"
																	alt="Image Client">
															</a>
														</div>
													</div>
													<div class="info-member">
														<h2 class="cl-name"><a title="Jennifer lawrence"
																href="#">Jennifer lawrence</a></h2>
														<p class="cl-job">Design Leader</p>
														<p class="cl-des">Donec dignissim, enim ac semper tempus, ligula
															neque pulvinar mi, sed facilisis arcu placerat consequat</p>
														<ul>
															<li>
																<a class="fa fa-f" title="Facebook" href="#"></a>
															</li>
															<li>
																<a class="fa fa-t" title="Twitter" href="#"></a>
															</li>
															<li>
																<a class="fa fa-g" title="google" href="#"></a>
															</li>
															<li>
																<a class="fa fa-s" title="skyper" href="#"></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="item-about col-lg-6 col-md-6 col-sm-6">
											<div class="item respl-item">
												<div class="item-inner">
													<div class="w-image-box">
														<div class="item-image">
															<a title="Jennifer lawrence" href="#">
																<img src="/front/image/catalog/about/cl-image-3.jpg"
																	alt="Image Client">
															</a>
														</div>
													</div>
													<div class="info-member">
														<h2 class="cl-name"><a title="Jennifer lawrence"
																href="#">Jennifer lawrence</a></h2>
														<p class="cl-job">Tech Leader</p>
														<p class="cl-des">Donec dignissim, enim ac semper tempus, ligula
															neque pulvinar mi, sed facilisis arcu placerat consequat</p>
														<ul>
															<li>
																<a class="fa fa-f" title="Facebook" href="#"></a>
															</li>
															<li>
																<a class="fa fa-t" title="Twitter" href="#"></a>
															</li>
															<li>
																<a class="fa fa-g" title="google" href="#"></a>
															</li>
															<li>
																<a class="fa fa-s" title="skyper" href="#"></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="item-about col-lg-6 col-md-6 col-sm-6">
											<div class="item respl-item">
												<div class="item-inner">
													<div class="w-image-box">
														<div class="item-image">
															<a title="Jennifer lawrence" href="#">
																<img src="/front/image/catalog/about/cl-image-4.jpg"
																	alt="Image Client">
															</a>
														</div>
													</div>
													<div class="info-member">
														<h2 class="cl-name"><a title="Jennifer lawrence"
																href="#">Jennifer lawrence</a></h2>
														<p class="cl-job">Manager</p>
														<p class="cl-des">Donec dignissim, enim ac semper tempus, ligula
															neque pulvinar mi, sed facilisis arcu placerat consequat</p>
														<ul>
															<li>
																<a class="fa fa-f" title="Facebook" href="#"></a>
															</li>
															<li>
																<a class="fa fa-t" title="Twitter" href="#"></a>
															</li>
															<li>
																<a class="fa fa-g" title="google" href="#"></a>
															</li>
															<li>
																<a class="fa fa-s" title="skyper" href="#"></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
																				<div class="item-about col-lg-6 col-md-6 col-sm-6">
											<div class="item respl-item">
												<div class="item-inner">
													<div class="w-image-box">
														<div class="item-image">
															<a title="Jennifer lawrence" href="#">
																<img src="/front/image/catalog/about/cl-image-4.jpg"
																	alt="Image Client">
															</a>
														</div>
													</div>
													<div class="info-member">
														<h2 class="cl-name"><a title="Jennifer lawrence"
																href="#">Jennifer lawrence</a></h2>
														<p class="cl-job">Manager</p>
														<p class="cl-des">Donec dignissim, enim ac semper tempus, ligula
															neque pulvinar mi, sed facilisis arcu placerat consequat</p>
														<ul>
															<li>
																<a class="fa fa-f" title="Facebook" href="#"></a>
															</li>
															<li>
																<a class="fa fa-t" title="Twitter" href="#"></a>
															</li>
															<li>
																<a class="fa fa-g" title="google" href="#"></a>
															</li>
															<li>
																<a class="fa fa-s" title="skyper" href="#"></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
																				<div class="item-about col-lg-6 col-md-6 col-sm-6">
											<div class="item respl-item">
												<div class="item-inner">
													<div class="w-image-box">
														<div class="item-image">
															<a title="Jennifer lawrence" href="#">
																<img src="/front/image/catalog/about/cl-image-4.jpg"
																	alt="Image Client">
															</a>
														</div>
													</div>
													<div class="info-member">
														<h2 class="cl-name"><a title="Jennifer lawrence"
																href="#">Jennifer lawrence</a></h2>
														<p class="cl-job">Manager</p>
														<p class="cl-des">Donec dignissim, enim ac semper tempus, ligula
															neque pulvinar mi, sed facilisis arcu placerat consequat</p>
														<ul>
															<li>
																<a class="fa fa-f" title="Facebook" href="#"></a>
															</li>
															<li>
																<a class="fa fa-t" title="Twitter" href="#"></a>
															</li>
															<li>
																<a class="fa fa-g" title="google" href="#"></a>
															</li>
															<li>
																<a class="fa fa-s" title="skyper" href="#"></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: ibioFooter"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>

</body>

</html>