<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc">
</head>

<body class="res layout-1 layout-subpage">

	<div id="wrapper" class="wrapper-fluid banners-effect-5">
		<header id="header" class=" typeheader-1" th:replace="fragments/front/common :: headerMenu"></header>

		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">고객센터</a></li>
				<li><a href="#">자주묻는질문</a></li>
			</ul>

			<div class="row" style="justify-content: center; display:flex;">
				<div id="content" class="col-sm-10 site">
					<h3>궁금한점이 해결되지 않으신다면 고객센터로 문의 해 주세요.</h3>
					<p>== 고객센터 정보 ==</p>
					<p>
						<br>
					</p>
					<div class="row">
						<div class="col-sm-12">
							<ul class="yt-accordion">
								<li class="accordion-group">
									<h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>질문</span></h3>
									<div class="accordion-inner">
										<p>=== 답변 ===</p>
										<p>=== 답변 ===</p>
									</div>
								</li>
								<li class="accordion-group">
									<h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>질문</span></h3>
									<div class="accordion-inner">
										<p>=== 답변 ===</p>
										<p>=== 답변 ===</p>
									</div>
								</li>
								<li class="accordion-group">
									<h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>질문</span></h3>
									<div class="accordion-inner">
										<p>=== 답변 ===</p>
										<p>=== 답변 ===</p>
									</div>
								</li>
								<li class="accordion-group">
									<h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>질문</span></h3>
									<div class="accordion-inner">
										<p>=== 답변 ===</p>
										<p>=== 답변 ===</p>
									</div>
								</li>
								<li class="accordion-group">
									<h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>질문</span></h3>
									<div class="accordion-inner">
										<p>=== 답변 ===</p>
										<p>=== 답변 ===</p>
									</div>
								</li>
								<li class="accordion-group">
									<h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>질문</span></h3>
									<div class="accordion-inner">
										<p>=== 답변 ===</p>
										<p>=== 답변 ===</p>
									</div>
								</li>
								<li class="accordion-group">
									<h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span>질문</span></h3>
									<div class="accordion-inner">
										<p>=== 답변 ===</p>
										<p>=== 답변 ===</p>
									</div>
								</li>
							</ul>
						</div>
					</div>


				</div>
			</div>
		</div>

		<footer class="footer-container typefooter-1" th:replace="fragments/front/common :: ibioFooter"></footer>
	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>

</body>

</html>