<!doctype html>
<html lang="ko" data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none"
	data-preloader="disable" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/administration/common :: headSrc">

</head>

<body>

	<div id="layout-wrapper">

		<header id="page-topbar" th:replace="fragments/administration/common :: headerMenu">

		</header>

		<div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true"
			th:replace="fragments/administration/common :: removeModal">
		</div>

		<div class="app-menu navbar-menu" th:replace="fragments/administration/common :: navMenu">
		</div>

		<div class="vertical-overlay"></div>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">딜러 상세페이지</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
										<li class="breadcrumb-item active">딜러 판매정보</li>
									</ol>
								</div>

							</div>
						</div>
					</div>
					<!-- end page title -->

					<div class="row">
						<div class="col-xxl-3">
							<div class="card">
								<div class="card-body p-4">
									<div>
										<div class="flex-shrink-0 avatar-md mx-auto">
											<div class="avatar-title bg-light rounded">
												<img src="/administration/assets/images/companies/img-2.png" alt="" height="50" />
											</div>
										</div>
										<div class="mt-4 text-center">
											<h5 class="mb-1">딜러명</h5>
											<p class="text-muted">회원가입일 : 2024.01.01</p>
										</div>
										<div class="table-responsive">
											<table class="table mb-0 table-borderless">
												<tbody>
													<tr>
														<th><span class="fw-medium">구매자명</span></th>
														<td>김고객</td>
													</tr>
													<tr>
														<th><span class="fw-medium">사업체명</span></th>
														<td>일반회원</td>
													</tr>
													<tr>
														<th><span class="fw-medium">이메일</span></th>
														<td>contact@contact.co.kr</td>
													</tr>
													<tr>
														<th><span class="fw-medium">연락처</span></th>
														<td><a href="TEL : 010-0123-4567">010-0123-4567</a></td>
													</tr>
													<tr>
														<th><span class="fw-medium">팩스</span></th>
														<td>02-4455-6677</td>
													</tr>
													<tr>
														<th><span class="fw-medium">주소</span></th>
														<td>강남구 역삼동</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="card-body p-4 border-top border-top-dashed">
									<h6 class="text-muted text-uppercase fw-semibold mb-4">딜러에게 메시지 전송</h6>
									<form action="#">
										<div class="mb-3">
											<textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
												placeholder="Enter your messages..."></textarea>
										</div>
										<div class="text-end">
											<button type="submit" class="btn btn-primary"><i
													class="ri-mail-send-line align-bottom me-1"></i> 이메일 / 문자 전송</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="col-xxl-9">
							<div class="row g-4 mb-3">
								<div class="col-sm">
									<div class="d-flex justify-content-sm-end">
										<div class="search-box ms-2" style="margin-right:10px;">
											
											<input type="text" class="form-control" placeholder="Search Products...">
											<i class="ri-search-line search-icon"></i>
										</div>
										<div>
											<a href="/admin/dealerTradingManager" class="btn btn-primary"><i class="bx bx-search"></i> 구매 정보보기</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header border-0 align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">고객 활동 분석</h4>
								</div>

								<div class="card-header p-0 border-0 bg-light-subtle">
									<div class="row g-0 text-center">
										<div class="col-6 col-sm-4">
											<div class="p-3 border border-dashed border-start-0">
												<h5 class="mb-1"><span class="counter-value" data-target="7585">0</span>
												</h5>
												<p class="text-muted mb-0">판매 거래 수</p>
											</div>
										</div>
										<!--end col-->
										<div class="col-6 col-sm-4">
											<div class="p-3 border border-dashed border-start-0">
												<h5 class="mb-1"><span class="counter-value"
														data-target="22.89">0</span>k</h5>
												<p class="text-muted mb-0">주문 취소</p>
											</div>
										</div>
										<!--end col-->
										<div class="col-6 col-sm-4">
											<div class="p-3 border border-dashed border-start-0">
												<h5 class="mb-1"><span class="counter-value" data-target="367">0</span>
												</h5>
												<p class="text-muted mb-0">환불</p>
											</div>
										</div>
									</div>
								</div>

							</div>

						
							<div class="card">
								<div class="card-body">
									<div id="table-product-list-all" class="table-card gridjs-border-none"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:replace="fragments/administration/common :: footerSrc"></th:block>
		</div>

	</div>


	<th:block th:replace="fragments/administration/common :: themeSrc"></th:block>

	<th:block th:replace="fragments/administration/common :: scriptSrc"></th:block>

	<script src="/administration/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="/administration/assets/libs/gridjs/gridjs.umd.js"></script>
    <script src="https://unpkg.com/gridjs/plugins/selection/dist/selection.umd.js"></script>
    <script src="/administration/assets/libs/swiper/swiper-bundle.min.js"></script>
    <script src="/administration/assets/js/dealerTradingManager.js"></script>
	
	
</body>

</html>