<!doctype html>
<html lang="ko" data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none"
	data-preloader="disable" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/administration/common :: headSrc">

</head>

<body>

	<div id="layout-wrapper">

		<header id="page-topbar" th:replace="fragments/administration/common :: headerMenu">

		</header>

		<div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true"
			th:replace="fragments/administration/common :: removeModal">
		</div>-->

		<div class="app-menu navbar-menu" th:replace="fragments/administration/common :: navMenu">
		</div>

		<div class="vertical-overlay"></div>

		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">회원가입 신청관리</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">AUTHENTICATION</a>
										</li>
										<li class="breadcrumb-item active">회원가입 신청관리</li>
									</ol>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="card" id="invoiceList">
								<div class="card-header border-0">
									<div class="align-items-center">
										<h5 class="card-title mb-0 flex-grow-1 fs-17">회원가입 관리 <span style="font-size:14px;font-weight:500;">[새로운 가입 신청 : <span th:text="${members.totalElements}"></span>건]</span></h5>
									</div>
								</div>
								<div class="card-body bg-light-subtle border border-dashed border-start-0 border-end-0">
									<form method="GET" action="/admin/memberRegistrationCheck">
										<div class="row g-3">
											<div class="col-xxl-2 col-sm-12">
												<select 
												name="size"
												id="pageSize"
												class="form-select mb-3" 
												aria-label="Default select example">
                                                    <option selected>데이터 수량 선택</option>
                                                    <option value="10" th:selected="${members.pageable.pageSize} == '10'">10개씩 보기</option>
                                                    <option value="30" th:selected="${members.pageable.pageSize} == '30'">30개씩 보기</option>
                                                    <option value="50" th:selected="${members.pageable.pageSize} == '50'">50개씩 보기</option>
                                                    <option value="100" th:selected="${members.pageable.pageSize} == '100'">100개씩 보기</option>
                                                </select>
											</div>

											<div class="col-xxl-2 col-sm-4">
												<select
												name="searchType"
												id="searchType"
												class="form-select mb-3">
                                                    <option id="searchBasic" value="none" selected>조회 조건 선택 </option>
                                                    <option id="searchName" value="name" th:selected="${searchType} == 'name'">고객명 조회</option>
                                                    <option id="searchUsername" value="username" th:selected="${searchType} == 'username'">아이디 조회</option>
                                                    <option id="searchBusiness" value="business" th:selected="${searchType} == 'business'">업체명 조회</option>
                                                    <option id="searchEmail" value="email" th:selected="${searchType} == 'email'">이메일 조회</option>
                                                    <option id="searchPhone" value="phone" th:selected="${searchType} == 'phone'">휴대폰 번호 조회</option>
                                                    <option id="searchPeriod" value="period" th:selected="${searchType} == 'period'">신청기간별 조회</option>
                                                </select>
											</div>
											<div class="col-xxl-3 col-sm-4" id="textSearch">
												<div class="form-icon">
                                                    <input 
                                                    name="searchWord"
                                                    type="text" 
                                                    class="form-control form-control-icon" 
                                                    placeholder="검색어를 입력 하세요" />
                                                    <i class="fa-solid fa-pencil"></i>
                                                </div>
											</div>	
											<div class="col-xxl-3 col-sm-4" id="phoneSearch">
												<div class="form-icon">
                                                    <input 
                                                    name="phoneNumber"
                                                    type="text" 
                                                    class="form-control form-control-icon" 
                                                    maxlength="13"
                                                    oninput="autoHyphen(this)"
                                                    placeholder="휴대폰 번호를 '-'제외하고 입력하세요." />
                                                    <i class="fa-solid fa-pencil"></i>
                                                </div>
											</div>
											<div class="col-xxl-2 col-sm-4" id="periodStart">
                                                <input type="date" name="startDate" class="form-control" id="startDate"/>
											</div>
											<div class="col-xxl-2 col-sm-2" id="periodEnd">
                                                <input type="date" name="endDate" class="form-control" id="endDate"/>
											</div>
											<div class="col-xxl-2 col-sm-4">
												<button type="submit" class="btn btn-primary w-100">
													<i class="ri-equalizer-fill me-1 align-bottom"></i> 데이터 검색
												</button>
											</div>
										</div>
									</form>
								</div>
								<div class="card-body">
									<div>
										<div class="table-responsive table-card" style="padding:0px 20px 0px 20px;">
											
											<table th:if="${members.totalElements} != '0'" class="table align-middle table-nowrap">
												<thead class="text-muted">
													<tr>
														<th class="text-uppercase">번호</th>
														<th class="text-uppercase">고객명</th>
														<th class="text-uppercase">아이디</th>
														<th class="text-uppercase">연락처</th>
														<th class="text-uppercase">가입신청일</th>
														<th class="text-uppercase">상태</th>
														<th class="text-uppercase">동작</th>
													</tr>
												</thead>
												<tbody class="form-check-all">
													<tr th:each="m:${members}">
														<td class="id" th:text="${m.id}"># VLZ501</td>
														<td class="project_name">
															<a th:href="@{|/admin/memberRegistrationCheckDetail/${m.id}|}" class="fw-medium link-primary" th:text="${m.name}">USERNAME</a>
														</td>
														<td class="project_name">
															<a th:href="@{|/admin/memberRegistrationCheckDetail/${m.id}|}" class="fw-medium link-primary" th:text="${m.username}">USERNAME</a>
														</td>
														<td class="client_name">
															<a th:href="|tel:,${m.phone}|" class="fw-medium link-primary" th:text="${m.phone}">USERNAME</a>
														</td>
														<td class="due_date" th:text="${m.joindate}">25 Jan, 2022</td>
														<td class="status">
															<span th:if="${m.role} == 'ROLE_DEALER'" class="badge bg-secondary-subtle text-primary text-uppercase">딜러회원신청</span>
															<span th:if="${m.role} == 'ROLE_MEMBER'" class="badge bg-secondary-subtle text-success text-uppercase">일반회원신청</span>
														</td>
														<td>
															<ul class="list-inline tasks-list-menu mb-0">
																<li th:if="${m.role} == 'ROLE_MEMBER'" class="list-inline-item"><a
																		class="edit-item-btn"
																		href="#changeOrder"
																		th:onclick="|javascript:changeOrderId('${m.id}')|"
																		data-bs-toggle="modal"><i
																			class="ri-pencil-fill align-bottom me-2 text-muted"></i></a>
																</li>
																<li class="list-inline-item">
																	<a class="remove-item-btn"
																		data-bs-toggle="modal"
																		th:onclick="|javascript:deleteOrderId('${m.id}')|"
																		href="#deleteOrder">
																		<i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
																	</a>
																</li>
															</ul>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="noresult" th:if="${members.totalElements} == '0'">
												<div class="text-center" style="padding-top:50px; padding-bottom:50px;">
													<lord-icon src="https://cdn.lordicon.com/msoeawqm.json"
														trigger="loop" colors="primary:#121331,secondary:#08a88a"
														style="width:75px;height:75px"></lord-icon>
													<h5 class="mt-2">조회 결과가 존재하지 않습니다.</h5>
													<p class="text-muted mb-0">다른 조건으로 검색을 진행 해 주세요.</p>
												</div>
											</div>
										</div>
										<div class="d-flex justify-content-center mt-3" th:if="${members.totalElements} != '0'">
											<div class="pagination-wrap hstack gap-2">
												<nav aria-label="navigation">
													<ul class="pagination justify-content-center">
														<li class="page-item"
															th:classappend="${1 == members.pageable.pageNumber+1} ? 'disabled'">
															<a class="page-link" href="#"
															th:href="@{/admin/memberRegistrationCheck(page=0,
															size=${param.size}, 
															phoneNumber=${param.phoneNumber},
															searchType=${param.searchType}, 
															searchWord=${param.searchWord}, 
															startDate=${param.startDate},
															endDate=${param.endDate})}"
															tabindex="-1" aria-disabled="true">First</a>
														</li>
														<li class="page-item"
															th:classappend="${1 == members.pageable.pageNumber+1} ? 'disabled'">
															<a class="page-link" href="#"
															th:href="@{/admin/memberRegistrationCheck(page=${members.pageable.pageNumber - 1}, 
															size=${param.size}, 
															phoneNumber=${param.phoneNumber},
															searchType=${param.searchType}, 
															searchWord=${param.searchWord}, 
															startDate=${param.startDate},
															endDate=${param.endDate})}"
															tabindex="-1" aria-disabled="true">Previous</a>
														</li>
														<li class="page-item"
															th:classappend="${i == members.pageable.pageNumber+1} ? 'disabled'"
															th:each="i : ${#numbers.sequence(startPage, endPage)}">
															<a	class="page-link" href="#" th:text=${i}
															th:href="@{/admin/memberRegistrationCheck(page=${i-1}, 
															size=${param.size}, 
															phoneNumber=${param.phoneNumber},
															searchType=${param.searchType}, 
															searchWord=${param.searchWord}, 
															startDate=${param.startDate},
															endDate=${param.endDate})}">1</a>
														</li>
														<li class="page-item"
															th:classappend="${members.totalPages == members.pageable.pageNumber + 1} ? 'disabled'">
															<a class="page-link" href="#"
															th:href="@{/admin/memberRegistrationCheck(page=${members.pageable.pageNumber + 1}, 
															size=${param.size}, 
															phoneNumber=${param.phoneNumber},
															searchType=${param.searchType}, 
															searchWord=${param.searchWord}, 
															startDate=${param.startDate},
															endDate=${param.endDate})}">Next</a>
														</li>
														<li class="page-item"
															th:classappend="${members.totalPages == members.pageable.pageNumber + 1} ? 'disabled'">
															<a class="page-link" href="#"
															th:href="@{/admin/memberRegistrationCheck(page=${members.totalPages-1}, 
															size=${param.size}, 
															phoneNumber=${param.phoneNumber},
															searchType=${param.searchType}, 
															searchWord=${param.searchWord}, 
															startDate=${param.startDate},
															endDate=${param.endDate})}">Last</a>
														</li>
													</ul>
												</nav>
											</div>
										</div>
									</div>

									<!-- Modal -->
									<div class="modal fade flip" id="deleteOrder" tabindex="-1"
										aria-labelledby="deleteOrderLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-body p-5 text-center">
													<lord-icon src="https://cdn.lordicon.com/gsqxdxog.json"
														trigger="loop" colors="primary:#405189,secondary:#f06548"
														style="width:90px;height:90px"></lord-icon>
													<div class="mt-4 text-center">
														<h4>해당 신청을 삭제 하시겠습니까 ?</h4>
														<div class="hstack gap-2 justify-content-center remove">
															<input type="hidden" id="deleteOrderValue">
															<button
																class="btn btn-link link-success fw-medium text-decoration-none"
																id="deleteRecord-close" data-bs-dismiss="modal"><i
																	class="ri-close-line me-1 align-middle"></i>
																닫기</button>
															<button onclick="deleteApply()" class="btn btn-danger">신청삭제하기</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="modal fade flip" id="changeOrder" tabindex="-1"
										aria-labelledby="deleteOrderLabel" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-body p-5 text-center">
													<script src="https://cdn.lordicon.com/lordicon.js"></script>
													<lord-icon src="https://cdn.lordicon.com/gkagksfn.json"
														trigger="hover" style="width:250px;height:250px">
													</lord-icon>
													<div class="mt-4 text-center">
														<h4>해당 회원을 정규회원으로 전환 하시겠습니까 ?</h4>
														<div class="hstack gap-2 justify-content-center remove">
															<input type="hidden" id="changeOrderValue">
															<input type="hidden" id="discountValue">
															<button
																class="btn btn-link link-success fw-medium text-decoration-none"
																id="deleteRecord-close" data-bs-dismiss="modal"><i
																	class="ri-close-line me-1 align-middle"></i>
																닫기</button>
															<button onclick="changeStatus();" class="btn btn-danger">전환하기</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:replace="fragments/administration/common :: footerSrc"></th:block>
		</div>
	</div>


	<th:block th:replace="fragments/administration/common :: themeSrc"></th:block>
	<th:block th:replace="fragments/administration/common :: scriptSrc"></th:block>
	<script th:inline="javascript">
   		var searchType = /*[[${searchType}]]*/ 'default';
    </script>
	<script src="/administration/assets/js/memberRegistrationCheck.js"></script>
	<script>
		
		function deleteOrderId(id){
			$('#deleteOrderValue').val(id);
		}
		
		function changeOrderId(id){
			$('#changeOrderValue').val(id);
			$('#discountValue').val(0);
		}
		
		function deleteApply() {
			var result = confirm("해당 신청을 삭제 하시겠습니까?");
			
			if (result) {
				var form = document.createElement('form');
				form.setAttribute("charset", "UTF-8");
				form.setAttribute("method", "Post");
				form.setAttribute("action", "/admin/memberRegistrationDelete");
				
				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", "id");
				hiddenField.setAttribute("value", $('#deleteOrderValue').val());

				form.appendChild(hiddenField);
				document.body.appendChild(form);
			    form.submit();
				
			}
		}
		
		function changeStatus(){
			var result = confirm("정회원 전환 하시겠습니까? 할인율은 0퍼센트로 기본 입력 됩니다.");
			if(result){
				var form = document.createElement('form');
				form.setAttribute("charset", "UTF-8");
				form.setAttribute("method", "Post");
				form.setAttribute("action", "/admin/memberRegistrationStatusChange");
				
				var id = document.createElement("input");
				id.setAttribute("type", "hidden");
				id.setAttribute("name", "id");
				id.setAttribute("value", $('#changeOrderValue').val());
				
				var discount = document.createElement("input");
				discount.setAttribute("type", "hidden");
				discount.setAttribute("name", "addedDiscount");
				discount.setAttribute("value", 0);
	
				form.appendChild(id);
				form.appendChild(discount);
				document.body.appendChild(form);
			    form.submit();		
			}
			
		}
	</script>
</body>

</html>